/*================================*/
/*            Header              */
/*================================*/

#header {
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

/* Logo */
#header #logo {
    position: absolute;
    left: 30px;
    top: -101px;
}
#header #logoSmall {
    position: absolute;
    left: 0px;
    top: -100px;
}
#header #logoSmall img {
    max-height: 100px;
}
/* Responsive design */
@media (max-width: 480px) {
    #header #logoSmall {
        top: -107px;
    }
    #header #logoSmall img {
        max-height: 70px;
    }
}

/* Main menu */
#header #mainMenu {
    position: absolute;
    top: -35px;
    left: 165px;
    margin: 0;
}
#header #mainMenu li {
    float: left;
    list-style-type: none;
    margin: 0;
}
#header #mainMenu li a {
    color: #777;
    font-size: 1.4em;
    display: block;
    background-color: #F3F3F3;
    padding: 8px 15px;
    margin: 0;
    margin-right: 20px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.3);
}
#mainMenu a:visited, #mainMenu a:hover {
    color: #777;
    text-decoration: none;
}
/* Responsive design */
@media (max-width: 767px) {
    #header #mainMenu {
        left: 83px;
    }
    #header #mainMenu li a {
        font-size: 1.1em;
        padding: 8px 10px;
        margin-right: 10px;
    }
}
@media (max-width: 480px) {
    #header #mainMenu {
        left: 0;
    }
    #header #mainMenu li a {
        font-size: 1em;
        padding: 8px 10px;
        margin-right: 5px;
    }
}


/* Banner text */
#banner {
    font-style: italic;
    color: #AAA;
    position: absolute;
    top: 10px;
    left: 165px;
    right: 30px;
}
#banner h3 {
    color: #888;
    margin: 0;
    font-size: 1.2em;
    line-height: inherit;
}
#banner p {
    margin: 0;
    font-size: 0.85em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* User menu */
#header #userLogin {
    position: absolute;
    right: 0px;
    top: -80px;
}
#header #userLogin p {
    margin: 0;
    padding: 0;
}

/*
     FILE ARCHIVED ON 21:58:15 Oct 14, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:55 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 962.483
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.067
  cdx.remote: 0.052
  esindex: 0.008
  LoadShardBlock: 940.461 (3)
  PetaboxLoader3.datanode: 75.13 (4)
  PetaboxLoader3.resolve: 1988.035 (2)
  load_resource: 1144.498
*/