
/*
 * See a spot
 */
#title {
}
#title h1 {
    display: inline;
    margin: 0;
}
.stats {
    font-size: 0.9em;
    color: #888888;
    margin-top: 0;
    margin-bottom: 10px;
}
#left {
    position: relative;
    text-align: center;
}
#left .btn {
    font-size: 15px;
    width: 34px;
    padding-left: inherit;
    padding-right: inherit;
}
#rate {
    text-align: center;
    margin-top: 40px;
}
#rate #rating {
    font-weight: bold;
    color: #808185;
    font-size: 2em;
    margin-top: 3px;
    margin-bottom: 2px;
    padding: 0;
}
#rateUp, #rateDown {
    display: block;
    width: 29px;
    height: 14px;
    font-size: 11px;
    color: #dddddd;
    margin: auto;
    margin-top: 7px;
}
#rateUp {
    padding-top: 5px;
    background: url('/web/20131014215815im_/http://www.isima.fr/bde/images/icons/up-arrow.png') no-repeat right center;
    margin-bottom: 7px;
}
#rateUp.selected {
    background-image: url('/web/20131014215815im_/http://www.isima.fr/bde/images/icons/up-arrow-selected.png');
}
#rateDown {
    height: 16px;
    background: url('/web/20131014215815im_/http://www.isima.fr/bde/images/icons/down-arrow.png') no-repeat right bottom;
}
#rateDown.selected {
    background-image: url('/web/20131014215815im_/http://www.isima.fr/bde/images/icons/down-arrow-selected.png');
}
a#rateUp:hover {
    text-decoration: none;
}
#favorites {
    margin-top: 30px;
}

/*
 * Share
 */
#shareSpot {
    margin-top: 30px;
	text-align: center;
}
#shareSpotButton {
    float: none;
}

/* Responsive design */
@media (max-width: 767px) {
    #rate {
        margin-top: 0;
        float: left;
        padding-left: 50px;
    }
    #left #favorites, #left #todo, #left #visited, #left #shareSpot {
        display: inline-block;
    }
}

/*
 * Gallery
 */
#photoCarouselWrapper {
	position: relative;
	/*padding-bottom: 66.95%; /* ratio */
	/*height: 50%; /* Fix for Safari, should be 0 */
    height: 409px;
}
#photoCarousel {
    line-height: 409px; /* Necessary for vertically align images */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: black;
}
@media (max-width: 480px) {
    #photoCarouselWrapper {
        height: 250px;
    }
    #photoCarousel {
        line-height: 250px; /* Necessary for vertically align images */
    }
}
#photoCarousel img {
    max-height: 100%;
}
#photoCarousel .carousel-control {
    top: 50%;
}
#photoCarousel .carousel-caption {
    line-height: 1em;
}

#photoGalleryWrapper {
	margin-top: 20px;
}
#photoGalleryInnerWrapper {
	margin-left: 46px;
	margin-right: 46px;
}
#photoGallery {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
	/* Preventing FOUC */
	height: 135px;
	overflow: hidden;
}
#photoGallery li {
	padding: 0 4px;
	text-align: center;
	display: block;
	float: left;
}
#photoGalleryWrapper .control {
	margin-top: 42px;
	width: 40px;
	height: 40px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: white;
	text-align: center;
	background: #222;
	border: 3px solid white;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: .5;
	filter: alpha(opacity=50);
}
#photoGalleryWrapper .control:hover {
	opacity: .9;
	filter: alpha(opacity=90);
	text-decoration: none;
}
#photoGalleryWrapper .control.disabled, #photoGalleryWrapper .control.hidden {
	cursor: default;
	opacity: .2;
	filter: alpha(opacity=20);
	display: block !important;
	visibility: visible;
}
#photoGalleryPrevious {
	float: left;
}
#photoGalleryNext {
	float: right;
}

/*
 * Tags
 */
.tagList {
    margin-bottom: 10px;
}

/*
 * Map
 */
#spotMap {
    height: 200px;
}

/*
 * Add a photo
 */
#addPhoto {
    display: none;
}
#addPhotoForm .file {
    font-size: 1.2em;
	padding: 5px;
    background-color: #EECCCC;
    width: 100%;
}
#addPhotoForm textarea {
    width: 100%;
}
#addPhotoForm .small {
    font-size: 0.8em;
}

/*
 * Comments on a spot
 */
#addCommentForm {
    display: none;
}
#addCommentForm textarea {
    width: 70%;
}

/*
 * Edit the spot
 */
#modalEditSpot {
    width: 80%;
}

/*
 * Add a spot
 */
#dialogPreAddSpot {
    display: none;
}
#dialogPreAddSpot-Help, #dialogPreAddSpot-Result {
    font-size: 0.9em;
}
#dialogPreAddSpot-Result h3 {
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 5px;
}
#dialogPreAddSpot-Result p {
    padding: 0;
    margin: 0;
}
#dialogPreAddSpot-Result li {
    margin-top: 3px;
    position: relative;
}
#dialogPreAddSpot-Result li img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
#dialogPreAddSpot-Result li .rightItem {
    position: absolute;
    right: 8px;
    font-size: 0.8em;
    margin-top: 5px;
}
#dialogPreAddSpot-ExistingSpots {
    color: #888888;
    background-color: #F7F7F7;
    border: solid 1px #DDDDDD;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
#dialogPreAddSpot-ExistingSpots h3 {
    margin-top: 0;
}
.ui-autocomplete {
    font-size: 0.9em;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    text-align: right;
}
.ui-autocomplete-empty-category span {
    line-height: 1.5;
    padding: 0.2em 0.4em;
    display: block;
}
.ui-autocomplete-loading {
    background: url('/web/20131014215815im_/http://www.isima.fr/bde/images/icons/loading.gif') no-repeat right center;
    background-color: white;
}
#dialogAddSpotFromScratch {
    display: none;
}


/*
 * Wikipedia article preview
 */
#wikipediaArticleModal {
	width: auto;
	left: 50px;
	right: 50px;
	top: 30px;
	bottom: 30px;
	margin: 0;
}

#wikipediaArticleIframe {
	width: 95%;
	height: 95%;
	margin-left: 2%;
	margin-right: 2%;
}


/*
 * Spot list
 */
.spot-list-item {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #d3d3d3;
}
.spot-list-item .spot-description {
    color: #808080;
}

/*
     FILE ARCHIVED ON 21:58:15 Oct 14, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:53 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 239.449
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.061
  cdx.remote: 0.058
  esindex: 0.009
  LoadShardBlock: 195.709 (3)
  PetaboxLoader3.datanode: 140.329 (4)
  load_resource: 55.697
  PetaboxLoader3.resolve: 27.615
*/