
<!--


/* Modification ou rajout de proprietes
   aux elements definis dans CSS_Box_768.css */


div.box
{
  width : 1100px ;
  height: 700px  ; 
}

div.bandeauLogo
{
  height : 10% ;
} 

div.menu
{
  top : 10% ; 
}

div.menu2
{
  position:absolute;
  width:780px;
  height:33px;
  z-index:1;
  top: 11%;
  left: 30%
}

div.logo
{
  top  : 3% ;
  background-image: URL(../../images/logo1024.gif) ;
}

img.accueil
{
  left : 72% ;
}

div.institut
{
  left : 40% ;
}

img.coindroithaut
{ 
 left : 1082px ;
} 

img.bandehaut
{ 
 width  : 1080px ;
 height : 2px    ;
} 

img.bandelateralegauche
{ 
 height : 668px ;
 width  : 2px   ;
} 

img.bandelateraledroite
{ 
 left   : 1100px ;
 height : 668px  ;
 width  : 2px    ;
} 

img.coingauchebas
{ 
  top : 683px ;
}

img.coindroitbas
{ 
  left : 1084px ;
  top  : 683px  ;
} 

img.coordonnees1
{
  top  : 5%  ;
  left : 25% ;
}

a.coordonnees2
{
  top  : 40% ;
  left : 64% ;
}



-->

