 
<!--



div.centre
{
  top    : 15% ;
  height : 79% ; 
}


div.page
{
  left   : 18%  ;
  width  : 82%  ;
  height : 100% ; 
}


ul.menu
{
  top  : 20% ;
  left : 24% ;
}


ul.sousMenu
{
  left      : -23px   ;
  font-size :  12pt   ;
}
p.sousMenu
{
  position   : absolute ;
  left       : 15px     ;
  top        : 27px     ;
/*  color      : #336699 ;*/
font-family: Verdana  ;
  font-size  : 13pt     ;
text-align : left ;
}
-->

