
<!--


/* Modification ou rajout de proprietes
   aux elements definis dans CSS_Index_768.css */


div.bandeauReferencement
{
  position   : absolute ;
  left       : 0%       ;
  top        : 0%       ;
  width      : 100%     ;
  height     : 12%      ;
  font-size  : 4pt      ;
  z-index    : 0        ;
}

div.pageCentrale
{
  top          : 15%      ;
  height       : 79%      ;
}

div.images
{
    top        : 7%       ;
    left       : 36%      ;
    width      : 407px    ;  
    height     : 440px    ;
    background-image: url(../../photos/imagesdegrade1024.jpg);
}


div.frameGauche{
  top        : 60px     ;
  left       : 40px     ;
}


img.plus
{
    position   : absolute  ; 
    top        : 81.7%     ;
    left       : 85.4%     ;
}


a.contacts
{   position   : absolute ;  top : 91.5% ;  left : 94% ; }
a.plan
{   position   : absolute ;  top : 95.5% ;  left : 92.7% ; }




-->
