<HEAD>
<TITLE>Survivability Simulator for Multi-Agent Coordination Learning</TITLE>
</HEAD>
<BODY><P>
 <HR>
<P>
<H1>Survivability Simulator for Multi-Agent Coordination Learning</H1>
<P><CENTER><b><A HREF="http://dis.cs.umass.edu/~vincent/">Regis Vincent</A>, <A HREF="http://dis.cs.umass.edu/~bhorling/">Bryan Horling</A>, <A HREF="http://dis.cs.umass.edu/~wagner/">Tom Wagner</A> <BR>University of Massachusetts <BR>Computer Sciences Department <BR>Multi-Agent Laboratory <BR>Phone: 413-545-0675, Fax: 413-545-1249<BR>Email: {vincent,bhorling,wagner}@cs.umass.edu<BR>Web: <A HREF="http://dis.cs.umass.edu/">http
://dis.cs.umass.edu/</A></b><P></CENTER>
<P><b></b><P>
The growth of a distributed processing system can increase both the
number and likelihood of attacks it may be subject to over its lifetime
<A HREF=article.html#internetworm88>[3]</A><A HREF=article.html#grids>[7]</A>.  This fact, in addition to the
complexity inherent in such an environment, makes the survivability of
large heterogeneous systems one of the most challenging research areas
currently being investigated<A HREF=article.html#darpaweb>[1]</A>.  Our goal is to create a
distributed simulation system to test various coordination mechanisms
allowing the elements of the system to detect, react and adapt in the
face of adverse working conditions.  Our assumption is that the system
is composed of a group of autonomous agents.  Each agent has its own
local view of the world and its own goals, but is capable of
coordinating these goals with respect to remote agents.  This
knowledge of a remote agent's capabilities and needs is expressed
through a system of Non Local Effects; for more details on this
paradigm refer to <A HREF=article.html#deckerphd>[2]</A>.
<P>
To simulate these complex systems, we are constructing an architecture
that permits the simulation of an agent's method execution.  To define
an agent's available methods and their dependencies, the T&#198;MS
language will be used.  These structures will be used to simulate the
coordination mechanisms <A HREF=article.html#garveyphd>[9]</A>, and can facilitate the
learning of coordination <A HREF=article.html#aaai97nagui>[5]</A> using our previous experience in
agent simulation such as Design-to-Criteria scheduling
<A HREF=article.html#TR8196>[10]</A>, learning <A HREF=article.html#ijcai97nagui>[6]</A>.  We are developing a
distributed event based simulator to simulate agent execution in the
face of system attacks and recovery.  The actual probabilistic
distribution of a method's behavior (duration, quality and cost) is
stored locally in the simulator.  In this way, an attack can be
modeled as an event which can change the probabilistic distribution of
a method's behavior, the resources needed or the time used.
<P>
The first part of this article describes the structure of our
simulator, after which the different attacks and the measures taken by
the simulator are defined.  In conclusion, we define the features
available in Java and CORBA which facilitate this work.
<P>
<H1><A NAME=SECTION0001000000000000000> Simulator Design</A></H1>
<P>
The simulator is designed as a central process; all agent involved
with the model are connected to the simulator using sockets.  The
agents themselves are independent processes, which could run on
physically different machines.  Time synchronization is controlled by
the simulator, which periodically sends a pulse to each of its remote
agents.  Each agent has a local <i>time manager</i> which converts the
simulation pulse into real CPU time.  The <i>time manager</i> controls
the agent according time given to scheduling, planning or
execution.  Once the alloted CPU time has been used, the <i>time
manager</i> halts the agent and sends an acknowledgment message back to
the simulator.  The simulator waits for all acknowledgments to
arrive before sending a new pulse (so all process are synchronized). 
Using this method, any functions (even computationally long ones) can
be executed using an arbitrary amount of time, from the agent's
perspective.  For example, a planning phase may explore a very large
space search, but the simulated time required may be just one pulse. 
Since all remote processes are frozen until the planning is completed,
this gives the illusion that the planning was actually performed very
quickly.  Each agent therefore has its own task-specific time
transformation function, which it uses to convert each simulator pulse
into local CPU time.
<P>
<IMG  ALIGN=BOTTOM ALT="" SRC="simulator_design.gif">
<P>
The simulator is also a message router, in that all agent
communications will pass through it.  This scheme permits explicit
control over network and communication delay.  In this way, if we want
to simulate a very fast communication path, the simulator may
immediately re-send a message to its destination, but if we want
simulate a compromised network, the simulator may wait <i>n</i> pulses
before sending the message.  This method also allows an agent to
broadcast a message to all other agents without explicitly knowing the
number of agents that will receive the message.
<P>
The simulator behavior is directed by a queue containing a
time-ordered list of events.  Each message it receives either adds or
removes events from the queue.  At each pulse the simulator selects
the correct events and realizes their effects (for example, a network
may slow down).  Only after the effects of each event have been completely
determined is the timing pulse sent to each agent.
<P>
<H2><A NAME=SECTION0001100000000000000> Measures</A></H2>
<P>
To measure the impact of a given attack, the following statistics are recorded:
<P>
<UL><LI> the time that the system takes to determine that there is a
problem  (<i>monitoring time</i>),
	<LI> the time required to diagnose the problem (<i>diagnose time</i>),
		<UL><LI> which elements are damaged (%of damage on the system)
		</UL>	
	<LI> the time to find a near-optimal solution restoring the capabilities of the
system (<i>re-coordination time</i>),
	<LI> the time to propagate the new coordination mechanism (<i>propagation
time</i>) 
	<LI> the time to return at a stable state (<i>time absorption</i>).
</UL>
<P>
These measures then permit the following calculations:
<P>
<UL><LI> minimum functionality experienced by the system during the attacks:
		(estimation and measures)
		<LI> capabilities offered with the new coordination scheme
		(estimation and measures) as function of the optimal value.
		<LI> attack success measure (100%stop the system completely -
0%no data lost and systems works perfectly)
</UL>
<P>
<H1><A NAME=SECTION0002000000000000000> Conclusions</A></H1>
<P>
The main advantage of our simulator will be:
<P>
<UL><LI> CORBA compatible, all message are performed using the ORB protocol,
<P>
<LI> deterministic behavior and CPU independent. Using the same
environment, two executions produce the same result in term of events. 
Even if the agent's physical machine location may change, the results will
be the same.
<P>
<LI> attacks are clearly defined as events, which permits the
modeling of complex and coordinated attacks.
<P>
<LI> domain independent.
<P>
</UL>
<P>
Our goal is to construct a multi-agent simulator based on an
object-oriented model in Java.  The simulator is currently in an early
stage of development.  Our design's main advantage in using Java are
robust network capabilities, platform independent implementation,
available CORBA libraries <A HREF=article.html#corba>[8]</A>, and simulation libraries
which exist (SimJava <A HREF=article.html#simjava>[4]</A>).  We expected that a preliminary
version will be available by January 1998.
<P>
<P><H2>References</H2><P>
<DL COMPACT>
<DT><A NAME=darpaweb><B>1</B></A><DD>
DARPA.
http://www.ito.darpa.mil/ResearchAreas/Information_Survivability.html,
  1996.
<P>
<DT><A NAME=deckerphd><B>2</B></A><DD>
K. Decker.
<em>Environment Centered Analysis and Design of Coordination
  Mechanisms</em>.
PhD thesis, Department of Computer Science, University of
  Massachusetts, Amherst, 1995.
<P>
<DT><A NAME=internetworm88><B>3</B></A><DD>
M. Eichin and J. Rochis.
With microscope and tweezers: An analysis of the internet worm of
  november 1988.
In <em>IEEE symposium on Research in Securiry and Privacy</em>, 1989.
<P>
<DT><A NAME=simjava><B>4</B></A><DD>
R. McNab and F.W. Howell.
Using java for discrete event simulation.
In <em>Twelfth UK Computer and Telecommunications Performance
  Engineering Workshop (UKPEW)</em>, pages 219-228. Univ. of Edinburgh, 1996.
<P>
<DT><A NAME=aaai97nagui><B>5</B></A><DD>
M. V. Nagendra Prasad and Victor R. Lesser.
Learning problem solving control in cooperative multi-agent systems.
In <em>Workshop on Multi-Agent Learning, AAAI-97</em>, Providence, Rhode
  Island, 1997.
<P>
<DT><A NAME=ijcai97nagui><B>6</B></A><DD>
M. V. Nagendra Prasad and Victor R. Lesser.
The use of meta-level information in learning situation_specific
  coordination.
In <em>IJCAI-97</em>, Nagoya (Japan), 1997.
<P>
<DT><A NAME=grids><B>7</B></A><DD>
S. Staniford-Chen, S. Cheung, R. Crawford, M. Dilger, J. Frank, Hoagland J.,
  K. Levitt, C. Wee, R. Yip, and D. Zerkle.
Grids-a graph based intrusion detection system for large networks.
Technical report, NISSC, 1996.
http://seclab.cs.ucdavis.edu/arpa/grids/welcome.html.
<P>
<DT><A NAME=corba><B>8</B></A><DD>
SunSoft.
Mapping idl to java.
http://splash.javasoft.com/pages/IDLtoJava.html.
<P>
<DT><A NAME=garveyphd><B>9</B></A><DD>
Design to-time Real-time Scheduling.
<em>Garvey, A</em>.
PhD thesis, Computer Science Department, University of Massachusetts,
  Amherst, 1996.
<P>
<DT><A NAME=TR8196><B>10</B></A><DD>
Thomas Wagner and Victor Lesser.
Design-to-criteria scheduling for intermittent processing.
Technical report, UMass Computer Science Technical Report 1996-81,,
  1996.
</DL>
<P>
<H1><A NAME=SECTION0004000000000000000>  <em>About this document ...</em> </A></H1>
<P>
 This document was generated using the <A HREF=http://cbl.leeds.ac.uk/nikos/tex2html/doc/latex2html/latex2html.html><b>LaTeX</b>2<tt>HTML</tt></A> translator Version 0.5.3 (Wed Jan 26 1994) Copyright &#169; 1993,  <A HREF=http://cbl.leeds.ac.uk/nikos/personal.html>Nikos Drakos</A>, Computer Based Learning Unit, University of Leeds. <P> 
<HR>

</BODY>
<P><ADDRESS>
vincent@cs.umass.edu
</ADDRESS>
