BODY {
  font-size: 12px;
  color: #000066;
  background-color: #FFFFFF;
  text-align: left;
	font-family = 'Arial';
}

P{
  font-size: 14px;
	text-align : justify;
 }
 
TABLE {
  border : 0;
  text-align:center;
	v-align : center;
	line-height : 25px;
}
 
H2, H3, H4, H5, H6 {
  text-align: left;
  font-family: 'Arial';
  color: #000066;
}


H1 {  
  text-align: center;
  font-size: large;
	color: #000066;
}

H2 {
  font-size: large;
}

H3 {
  text-decoration: underline;
  font-size: normal;
}
H4 {
  text-decoration: underline;
  font-size: 15px;
}

A {
	text-decoration:none;
	color: #9999CC;
}

 H1 A, H2 A, H3 A, H4 A, H5 A, H6 A{
text-decoration: underline;
}
A H1 ,A H2 , A H3 ,A H4 ,A H5 ,A H6 {
text-decoration: underline;
}



A:link{
  color: #9999CC;
}

A:visited{
  color: #9999CC;
}

A:active{
  color: #9999CC;
}

A:hover {
   text-decoration : underline;
}

IMG
{
 border : 0;
 
}

div
{
 align:left;
}

LI
{
  text-align:left;
  text-indent: 15px;
  font-size: 14px;
}
UL
{
  text-align:left;
	font-size: 14px;
}

.TAB
{
  text-align: left;
	text-indent: 0px;
}
