
<p><b><font FACE="Times New Roman" SIZE="4" color="#000080">Education</font></b></p>
<blockquote>
  <ul>
    <li>
      <p ALIGN="LEFT"><font face="Times New Roman">Ph.D. in <a href="http://www.insa-lyon.fr/Departements/if.html"> Computer
      Science</a>, <a href="http://www.insa-lyon.fr"> INSA de Lyon (Institut
      National des Sciences Appliquees de Lyon)</a>, France, 2001</font></li>
  </ul>
  <ul>
    <li>
      <p ALIGN="LEFT"><font face="Times New Roman">M.S. in <a href="http://mis.pusan.ac.kr/pnu/colleges/subframe.asp?SubFrame=330000">Computer
      Science</a>, <a href="http://www.pusan.ac.kr/">Pusan National University</a>,
      Korea, 1996</font></li>
  </ul>
  <ul>
    <li>
      <p ALIGN="LEFT"><font face="Times New Roman">B.S. in
Computer Science, Pusan National University, Korea, 1994</font></li>
  </ul>
</blockquote>
<p>&nbsp;</p>
<p><b><font FACE="Times New Roman" SIZE="4" color="#000080">Professional Experience</font></b></p>
<blockquote>
  <ul>
    <li><font face="Times New Roman">Sep. 02 - present : Assistant Professor, <a href="http://www.univ-bpclermont.fr/">Dept.
      of&nbsp; Computer Science, Blaise Pascal University of Clermont-Ferrand,</a>
      France</font></li>
  </ul>
  <ul>
    <li><font face="Times New Roman">Sep. 01 - Aug. 02 : Lectureur, Dept. of Computer Science, INSA de
      Lyon, France</font></li>
  </ul>
  <ul>
    <li>
      <p class="MsoNormal"><font face="Times New Roman">Sep. 00 - Aug. 01 : Teaching Assitant (Vacation
      in French), <a href="http://www.cpe.fr/">Dept. of Electronique Telecommunications
      Informatique, CPE </a>(ECOLE SUPERIEURE CHIMIE PHYSIQUE ELECTRONIQUE) Lyon, France</font></li>
  </ul>
  <ul>
    <li>
      <p class="MsoNormal"><font face="Times New Roman">Oct.- Nov<span style="mso-tab-count:1">.
      00 :
      Programmer (MapInfo), </span>CRENAM, Saint-Etienne,
      France</font></li>
  </ul>
  <ul>
    <li><font face="Times New Roman">Sep. 99 - Aug. 00 : Teaching Assitant (Vacation in French), Dept.
      of&nbsp; Computer Science, INSA de Lyon, France&nbsp;</font></li>
  </ul>
  <ul>
    <li><font face="Times New Roman">Mar. 96 - April 97 : Research Staff Member,
      Computer and Information Communication Research Center, Pusan Nationale University, Korea</font></li>
  </ul>
</blockquote>
<p>&nbsp;</p>
