<HEAD>
<TITLE>w3art1</TITLE>
</HEAD>
<BODY>
<P><BR>
<h2>
<IMG SRC="./images/ligne_degrade1.gif"><BR><br>
TUTORIAL ON MEJTSKY'S DIAGRAMS<br><br>
</h2>
<h3>
Eugene Kindler
</h3>
<h4>
Charles University, Prague, Czech Republic<br>
<A HREF="mailto:EVKIND@BARBORA.MFF.CUNI.CZ">mailto:e-mail: EVKIND@BARBORA.MFF.CUNI.CZ</A>
</h4>
<IMG SRC="./images/ligne_degrade1.gif"><BR>
<pre>
SIMULA  permits to  introduce local classes.  That  tool for
knowledge representation is very  modern but makes some pro-
blems. There is no (formal or informal) theory of local con-
cepts, theories as concepts, and local theories - and excep-
ting SIMULA and  BETA - the local classes  are not permitted
in any object-oriented programming tool. But the local clas-
ses  are very useful  and represent a modern tool for  know-
ledge representation, as it has been several times illustra-
ted in the SOOP section of ASU Newsletter.
    For a better understanding the locality of classes, nes-
ting classes and nesting  quasi-parallel systems, a suitable
graphical representation exists,  called Mejtsky's diagrams.
Their principles have been invented by Mejtsky [1], [2].  He
introduced the following rules:
    1. any SIMULA block instance R  be represented  by a two
dimensional convex area of a plane  (of a slide or of a leaf
of paper);  in this tutorial,  such a representation will be
called M-image of R and formally expressed M(R);
    2. M-images of the objects  (i.e. of class instances ge-
nerated by means of the object generators - see SIMULA Stan-
dard, 3.8) be circles, M-images of the other block instances
be rectangular;
    3. if R is local to S, M(R) be inside M(S); if neither R
is local to S nor S is local to R then M(R) and M(S) be dis-
joint;
    4. the computing process  controled by the statements of
block instance R  be represented  by a movement along a line
in M(R);  in this tutorial, that line will be called  M-line
of R  and formally expressed L(R);  it is suitable to intro-
duce the term life of R for the mentioned computing process;
    5. M-line of a class instance be the horizontal diameter
of its M-image,  M-line of the other block instances  be the
upper edge of their M-images;
    6. the cycles, branchings  and go-to jumps  be neglected
in the movement  along the M-lines - that movement go always
in one sense (usually to the left) from the beginning of the
M-line to its end;  a simple step  (e.g. the run of a simple
statement) A of the life of a block instance R can be repre-
sented  by a small interval of L(R)  so that at a paper or a
slide it appears as a point; it is called M-point of A, for-
mally P(A);  M-point of the beginning of the life of a block
instance R is called start point of R, formally B(R);
    7. it is often useful to put some mark to the M-point of
the program sequence control of a block instance;
    8. if R is a subblock of S then M(R) "hang" on a part of
L(S),  otherwise M(R)  be placed  inside M(S)  so that it is
disjoint with L(S); in such a case the following rule holds:
    9. if S is a class instance  then M(R) be placed  either
over L(S) or under L(S); otherwise M(R) placed under L(S);
     According to the original conception, the M-images were
connected by arrows of various forms,  which represented the
history  of the control transfer among the represented block
instances [1].  Soon one has discovered that such a practice
cannot be applied  but for very simple histories - otherwise
the diagrams are full of arrows  and they miss their reason.
Some ideas  how to omit the arrows failed  (see e.g. the end
of [2]).  Nowadays, we use Mejtsky's diagrams for represent-
ing states of the computation: parallelly to the dynamic ge-
nerating, disappearing  and connecting  the block instances,
the M-images and the arrows among them  rise, dissappear and
change. Now, we need only two sorts of arrows and some addi-
tional tools:
   10. let R be attached to S and not a subblock of S; let A
be the statement which has caused the attaching; then a full
arrow connect M(S) and M(R),  leading  from P(A) to B(R);  A
can be  an object generator, a call of a procedure or - !at-
tention! - some internal step of the life  of procedure call
- do not forget that call is really a procedure;
   11. no arrow  lead  to the start point  of a detached  or
terminated object;
   12. let R  be the operating component  of a quasiparallel
system, the system head of which is S; then a dashed or dot-
ted arrow lead from any place of M(S) to B(R);  note that if
S is operating the arrow returns to its M-image;
   13. the M-images of the "memory garbage" (terminated sub-
blocks and referenceless objects) should be liquidated;
   14. the M-images  of the accessible terminated objects be
crossed out by an oblique line; their M-lines can be liquid-
ated.
     The last modification of the form of the Mejtsky's dia-
grams was introduced by H. Islo [3]:
   15. if Q  is an instance  of a subblock  containing class
declarations,  then the boundary of M(Q) be rather bold  and
its apices be rounded, so that M(Q) resembles a display.
     The  textual enclosures,  operating chains  and dynamic
enclosures are mapped very legibly by Mejtsky's diagrams.
     During the tutorial,  the further SIMULA texts  will be
"dynamically" accompanied by Mejtsky's diagrams. The import-
ant properties  and the output of any program  are described
in a comment after its final end.  Note that in case the run
breaks down by a run time error, the output mentioned in the
comment appears after the  error message, namely after leav-
ing SIMOB.

[1] J. Mejtsky,  E. Kindler:  Diagrams for Quasiparallel Se-
    quencing - Part I. SIMULA Newsletter, Vol. 8, No. 3, Au-
    gust 1980, pp. 13-14
[2] J. Mejtsky,  E. Kindler:  Diagrams for Quasiparallel Se-
    quencing - Part II.  SIMULA Newsletter,  Vol. 9,  No. 1,
    February. 1981, pp. 17-18.
[3] H. E. Islo:  SOOP Corner - Quasi-Parallel Systems as De-
    scribed in the Swedish SIMULA Standard.  ASU Newsletter,
    Vol. 21, No. 3, December 1993, pp. 17-25

Author's address: Dr. Eugene Kindler, Charles University,
Faculty of Mathematics and Physics, Department of Mathematical
Logic and Philosophy of Mathematics, Malostranske square 25,
CZ - 118 00 Prague 1, Czech Republic, Europe


1.ATTACHING TEXTUAL ENCLOSURES:

begin class C;
      begin class D;
            begin outchar('2'); detach; outchar('5');
                  call(this C); outchar('7')
            end of D;
            ref(D)P;
            outchar('1'); P:-new D; outchar('3'); detach;
            outchar('6'); detach
      end of C;
      ref(C)R;
      R:-new C; outchar('4'); inspect R do call(P); outchar('8')
end of program 1A - called object (P) of D calls its textual
enclosure - object R of C - output 12345678;

begin class C;
      begin class D;
            begin outchar('3'); call(this C); outchar('5')
            end of D;
            ref(D)P;
            outchar('1'); detach; outchar('4'); detach
      end of C;
      ref(C)R;
      R:-new C; outchar('2'); inspect R do P:-new D;
      outchar('6')
end of program 1B - called object (P) of D calls its textual
enclosure - object R of C - but more sophistically than in
program 1A - output 123456;

begin class C;
      begin procedure F;
            begin outchar('2'); call(this C); outchar('4');
            end of F;
            outchar('1'); detach; outchar('3'); detach;
            outchar('6')
      end of C;
      ref(C)R;
      R:-new C; R.F; outchar('5'); !R.F; !outchar('7');
end of program 1C - attaching a textual enclosure to procedure
F - a simple case, see two statements with the comment signs -
output 12345;

begin class C;
      begin procedure F;
            begin outchar('2'); call(this C); outchar('4');
            end of F;
            outchar('1'); detach; outchar('3'); detach;
            outchar('6')
      end of C;
      ref(C)R;
      R:-new C; R.F; outchar('5'); R.F; outchar('7');
end of program 1D - attaching a textual enclosure to
procedure F, similar to program 1C but a bit more complicated:
see two statements that are blocked by ! in 1C: F is called
twice - output 123452647;


2. "NON-LOCAL" RESUME:

begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('7'); resume(R)
      end of D;
      procedure F;
      begin outchar('6'); resume(Q); outchar('8') end of F;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4');
      resume(R); outchar('0')
end of example 2A - resume is not called in the resumed class
but in a procedure non-local to the resuming class - output
1234567890;

begin class C;
      begin outchar('1'); detach; outchar('5'); new F;
            outchar('9')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('7'); resume(R)
      end of D;
      class F; begin outchar('6'); resume(Q); outchar('8')
      end of F;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4');
      resume(R); outchar('0');
end of example 2B - similar as 2A, but resume is not called
in the resumed class or in a procedure non-local to it but
in an attached object non-local to the resuming one - output
1234567890;

begin procedure E(p); procedure p;
      begin outchar('6'); p; outchar('0') end of E;
QPS:  begin class C;
            begin outchar('1'); detach; outchar('5'); E(F);
                  outchar('a')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('8');
                  resume(R)
            end of D;
            procedure F;
            begin outchar('7'); resume(Q); outchar('9') end;
            ref(C)R; ref(D)Q;
            R:-new C; outchar('2'); Q:-new D; outchar('4');
            resume(R); outchar('b')
      end of QPS head
end of example 2C - similar as 2A, but the operating chain
"walks" outside to the QPS head and then returns - output
1234567890ab;

begin class H;
      begin procedure E(p); procedure p;
            begin outchar('7'); p; outchar('a') end of E;
            outchar('6')
      end of H;
QPS:  begin class C;
            begin outchar('1'); detach; outchar('5');
                  new H.E(F); outchar('b')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('9');
                  resume(R)
            end of D;
            procedure F;
            begin outchar('8'); resume(Q); outchar('0') end;
            ref(C)R; ref(D)Q;
            R:-new C; outchar('2'); Q:-new D; outchar('4');
            resume(R); outchar('c')
      end of QPS head
end of example 2D - similar as 2C, but the "walk outside QPS
head" is made by means of a procedure local to an object
which is local to the textual enclosure of the QPS head -
output 1234567890abc;


3. NON-LOCAL DETACH IN QUASI-PARALLEL SYSTEMS:

begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9')
      end of C;
      class D; begin outchar('3'); detach end of D;
      procedure F;
      begin outchar('6'); !resume(Q); detach; outchar('8')
      end of F;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4');
      resume(R); outchar('7'); L:resume(R); outchar('0')
end of program 3A - similar to 2A but instead of resume(Q) -
now turned to a comment - detach is present: output 123456
and then error at line 4 in procedure F:
    x.detach: x is not on the operating chain.
If you don't know the reason of that message, be so kind to
follow the next programs, i.e. 3B and 3C, then you will see;

SIMSET
begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9')
      end of C;
      class D; begin outchar('3'); detach end of D;
      procedure F;
      begin outchar('6'); !resume(Q); detach; outchar('8')end;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4'); resume(R);
      outchar('7'); resume(R); outchar('0')
end of example 3B - similar to 3A but prexifed: output 123456897
and then an error in line 9:
      resume(x): x is not in detached state;

SIMSET
begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9');
      end of C;
      class D;
      begin outchar('3'); detach; outchar('*') end of D;
      procedure F;
      begin outchar('6'); !resume(Q); detach; outchar('8') end;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4'); resume(R);
      outchar('7'); !L:resume(R); outchar('0');
end of program 3C, similar to 3B but shorter: the erroneous
resume statement (labeled by L:) has been turned into a comment:
we can watch the detach inside F to be interpreted by the SIMSET
block, exactly according to the introductory lines of par. 7.3.1
of SIMULA Standard: such a detaching has no effect - output
1234568970; ! now it is clear about 3B: when R has attached F
the whole F is performed, then R makes outchar('9'),
is terminated and the suspected resume(R) is used when R has
been terminated; ! but now let us return to 3A: it seems similar
to 3B, the only difference is that it is (implicitely) prefixed
by BASICIO instead of SIMSET. And thus one may wonder why the
error message of it is different from that of 3B. We advice:
change the erroneous detach statement to sysout.detach - and the
behavior will be the same! Do not forget that the user programs
are implicitely not only prefixed by BASICIO but also nested in
some connection statements, and therefore our poor detach is
interpreted as performed by the terminated object sysout. Draw
carefully Mejtsky's diagram for such a state!

begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9');
      end of C;
      class D;
      begin outchar('3'); detach; outchar('*') end of D;
      procedure F;
      begin outchar('6'); !resume(Q); detach; outchar('8')
      end of F;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4');
      resume(R); outchar('7'); !L:resume(R); outchar('0');
end of program 3D, similar to 3C but without the block prefix:
the output and the error are the same as in program 3A which is
also without a block prefix: detach is not interpreted according
to the same rule as in 3C - in any case it is not interpreted as
to be performed by R;

begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9')
      end of C;
      class D; begin outchar('3'); detach end of D;
      procedure F;
      begin outchar('6'); !resume(Q); R.detach; outchar('8')end;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4'); resume(R);
      outchar('7'); L:resume(R); outchar('0')
end of program 3E - similar to 3A but the detach statement
inside F is said to be done by R - all is O.K., there is no
error and the expected results 1234567890 are on the output;


4. NON-LOCAL DETACH AFTER CALLING:

begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9')
      end of C;
      class D; begin outchar('3'); detach end of D;
      procedure F;
      begin outchar('6'); !resume(Q); detach; outchar('8')
      end of F;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4'); call(R);
      outchar('7'); L:call(R); outchar('0')
end of program 4A - similar to 3A but call(R) is used in place
of resume(R) the behaviour is the same at that with resume (that
of 3A): output 123456 and then error at line 4 in procedure F:
    x.detach: x is not on the operating chain;

SIMSET
begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9')
      end of C;
      class D; begin outchar('3'); detach end of D;
      procedure F;
      begin outchar('6'); !resume(Q); detach; outchar('8') end;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4'); call(R);
      outchar('7'); call(R); outchar('0')
end of example 4B - similar to 4A but prexifed and similar to
3B but with call(R) in place of resume(R): its behaviour is very
similar to that of 3B - output 123456897 and then an error in
line 9:
      call(x): x is not in detached state;

begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9');
      end of C;
      class D; begin outchar('3'); detach; outchar('*') end;
      procedure F;
      begin outchar('6'); !resume(Q); detach; outchar('8')
      end of F;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4'); call(R);
      outchar('7'); !L:call(R); outchar('0');
end of program 4C, similar to 3D, with resume(R) changed to
call(R) - the results and the error are the same as in program
4A: surely detach in F is not interpreted for R but for
something else;

begin class C;
      begin outchar('1'); detach; outchar('5'); F; outchar('9')
      end of C;
      class D;
      begin outchar('3'); detach end of D;
      procedure F;
      begin outchar('6'); !resume(Q); R.detach; outchar('8')
      end of F;
      ref(C)R; ref(D)Q;
      R:-new C; outchar('2'); Q:-new D; outchar('4'); call(R);
      outchar('7'); L:call(R); outchar('0')
end of program 4D - similar to 4A but the detach statement
inside F is said to be done by R - all is O.K. (see also the
development to program 3E), there is no error and the expected
results 1234567890 are on the output;

begin procedure E(P); procedure p;
      begin outchar('2'); p; outchar('4') end of E;
      begin class C;
            begin procedure det; detach;
                  outchar('1'); E(det); outchar('5')
            end of C;
            ref(C) R; R:-new C; outchar('3'); call(R);
            outchar('6')
      end of the subblock
end of program 4E - detach is applied after the operating
chain "walks out" from the context of the detaching class
(similarly as resume in 2C) - because it is not allowed to
call standard procedures as procedure parameters, detach had
to be redeclared to det: note the limitted scope (and class
level) of det! Results 123456 do not change in case call(R)
is replaced by resume(R);

begin class H;
      begin procedure E(p); procedure p;
            begin outchar('2'); p; outchar('4') end of E;
      end of H;
      begin class C;
            begin procedure det; detach;
                  outchar('1'); new H.E(det); outchar('5')
            end of C;
            ref(C) R; R:-new C; outchar('3'); call(R);
            outchar('6')
      end of the subblock
end of program 4F - its relation to 4E is similar as that of
2D to 2C: the "walk out" before applying detached is arranged
inside a class. Similarly as in 4E, turning call(R) to resume(R)
would have no effect to the output, which is 123456;


5.TWO QUASI-PARALLEL SYSTEMS - ONE INSIDE A PROCEDURE:

begin procedure F(G); procedure G;
      begin
QPS1:       begin class A;
                  begin outchar('7'); detach; outchar('a');
                        G; outchar('e'); resume(RB);
                  end of A;
                  class B;
                  begin outchar('9'); detach; outchar('f') end;
                  ref(A)RA; ref(B)RB; outchar('6'); RA:-new A;
                  outchar('8'); RB:-new B; outchar('0');
                  resume(RA); outchar('g')
            end of QPS1's head
      end of F;
QPS2: begin class C;
            begin procedure M;
                  begin outchar('b'); resume(RD); outchar('d')
                  end of M;
                  outchar('1'); detach; outchar('5'); F(M);
                  outchar('h')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('c');
                  resume(RC); outchar('*')
            end of D;
            ref(C)RC; ref(D)RD; RC:-new C; outchar('2');
            RD:-new D; outchar('4'); resume(RC); outchar('i')
      end of QPS2's head
end of program 5A - in substance the same situation as in 2C
but a bit complicated by another QPS (namely by QPS1) - output
1234567890abcdefghi;

begin procedure F(G); procedure G;              ! begin QPS1:;
      begin class A;
            begin outchar('7'); detach; outchar('a'); G;
                  outchar('e'); resume(RB);
            end of A;
            class B;
            begin outchar('9'); detach; outchar('f') end of B;
            ref(A)RA; ref(B)RB; outchar('6'); RA:-new A;
            outchar('8'); RB:-new B; outchar('0'); resume(RA);
            outchar('g')                 ! end of QPS1's head;
      end of F;
QPS2: begin class C;
            begin procedure M;
                  begin outchar('b'); resume(RD); outchar('d');
                  end of M;
                  outchar('1'); detach; outchar('5'); F(M);
                  outchar('h')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('c');
                  resume(RC); outchar('*')
            end of D;
            ref(C)RC; ref(D)RD; RC:-new C; outchar('2');
            RD:-new D; outchar('4'); resume(RC); outchar('i')
      end of QPS2's head
end of program 5B - textually similar to 5A but the subblock
brackets which determine QPS1 are released: according to
SIMULA standard a QPS rises only in case of entering a true
subblock or prefixed block: resume(RA) cannot be performed -
results 1234567890 and then an error:
   resume(x) -
   x is not local to subblock or prefixed block instance;

begin procedure F(G); procedure G;               !begin QPS1:;
      SIMSET begin class A;
                   begin outchar('7'); detach; outchar('a');
                         G; outchar('e'); resume(RB);
                   end of A;
                   class B;
                   begin outchar('9'); detach; outchar('f')
                   end of B;
                   ref(A)RA; ref(B)RB; outchar('6'); RA:-new A;
                   outchar('8'); RB:-new B; outchar('0');
                   resume(RA); outchar('g')
                                           !end of QPS1's head;
             end of F;
QPS2: begin class C;
            begin procedure M;
                  begin outchar('b'); resume(RD); outchar('d');
                  end of M;
                  outchar('1'); detach; outchar('5'); F(M);
                  outchar('h')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('c');
                  resume(RC); outchar('*')
            end of D;
            ref(C)RC; ref(D)RD; RC:-new C; outchar('2');
            RD:-new D; outchar('4'); resume(RC); outchar('i')
      end of QPS2's head
end of program 5C - textually similar to 5B but the body of F
has been prefixed - the run goes O.K. and the results are the
same as in case of 5A - 1234567890abcdefghi;

begin class fict;;
      procedure F(G); procedure G;           ! begin QPS1:;
 fict begin class A;
            begin outchar('7'); detach; outchar('a'); G;
                  outchar('e'); resume(RB);
            end of A;
            class B;
            begin outchar('9'); detach; outchar('f') end of B;
            ref(A)RA; ref(B)RB;
            outchar('6'); RA:-new A; outchar('8'); RB:-new B;
            outchar('0'); resume(RA); outchar('g')
                                         ! end of QPS1's head;
      end of F;
 QPS2:begin class C;
            begin procedure M;
                  begin outchar('b'); resume(RD); outchar('d');
                  end of M;
                  outchar('1'); detach; outchar('5'); F(M);
                  outchar('h')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('c');
                  resume(RC); outchar('*')
            end of D;
            ref(C)RC; ref(D)RD;
            RC:-new C; outchar('2'); RD:-new D; outchar('4');
            resume(RC); outchar('i')
      end of QPS2's head
end of program 5D - similar to 5C but instead of SIMSET
another prefix was used: the compiler refuses it telling that
the block levels of that prefix differs of its declaration
level: it corresponds to the (not too clearly formulated)
statements of the SIMULA Standard, that the procedure body
may behave as surrounded by a fictitious block;

begin procedure F(G); procedure G;
      begin
QPS1:       begin class A;
                  begin outchar('7'); detach; outchar('a');
                        G; outchar('e'); resume(RB)
                  end of A;
                  class B;
                  begin outchar('9'); detach; outchar('f')
                  end of B;
                  ref(A)RA; ref(B)RB;
                  outchar('6'); RA:-new A; outchar('8');
                  RB:-new B; outchar('0'); resume(RA);
                  outchar('g')
            end of QPS1's head
      end of F;
QPS2: begin class C;
            begin procedure M;
                  begin outchar('b'); call(RD); outchar('d')
                  end of M;
                  outchar('1'); detach; outchar('5'); F(M);
                  outchar('h')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('c');
                  resume(RC); outchar('*')
            end of D;
            ref(C)RC; ref(D)RD;
            RC:-new C; outchar('2'); RD:-new D; outchar('4');
            resume(RC); outchar('i')
      end of QPS2's head
end of program 5E - similar to 5A but resume(RD) inside
procedure M is changed to call(RD) - RD is now attached to
the long dynamic enclosure of RC and its performing resume(RC)
at outchar('*') of class D is interpreted as "RC makes
resume(RC)", i.e. as no action: thus the run goes on inside D
and only then returns to M: therefore the asterisk in the
output 1234567890abc*defghi, which was not present after
running 5A and 5C;

begin procedure F(G); procedure G;
      begin
QPS1:       begin class A;
                  begin outchar('7'); detach; outchar('a');
                        G; outchar('e'); resume(RB);
                  end of A;
                  class B;
                  begin outchar('9'); detach; outchar('f')
                  end of B;
                  ref(A)RA; ref(B)RB; outchar('6'); RA:-new A;
                  outchar('8'); RB:-new B; outchar('0');
                  resume(RA); outchar('g')
            end of QPS1's head
      end of F;
QPS2: begin class C;
            begin procedure M;
                  begin outchar('b'); resume(RD); outchar('d');
                  end of M;
                  outchar('1'); detach; outchar('5'); F(M);
                  outchar('h')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('c'); call(RC);
                  outchar('*')
            end of D;
            ref(C)RC; ref(D)RD; RC:-new C; outchar('2');
            RD:-new D; outchar('4'); resume(RC); outchar('i')
      end of QPS2's head
end of program 5F - similar to 5A but resume(RC) inside D is
changed to call(RC): calling RC inside D attaches the whole
dynamic enclosure of RC to that od RD and the run proceeds in
the attached enclosure - "RC goes on" like if it were resumed
but after it exhausts its dynamic enclosure and is terminated
the run does not return to the head of QPS2 but the object to
which RC was attached, i.e. to RD: therefore the asterisk
before the return to the head of QPS2 in output
1234567890abcdefgh*i;

begin procedure F(G); procedure G;
      begin
QPS1:       begin class A;
                  begin outchar('7'); detach; outchar('a');
                        G; outchar('e'); resume(RB);
                  end of A;
                  class B;
                  begin outchar('9'); detach; outchar('f') end;
                  ref(A)RA; ref(B)RB;
                  outchar('6'); RA:-new A; outchar('8');
                  RB:-new B; outchar('0'); resume(RA);
                  outchar('g')
            end of QPS1's head
      end of F;
QPS2: begin class C;
            begin procedure M;
                  begin outchar('b'); call(RC); outchar('d')
                  end of M;
                  outchar('1'); detach; outchar('5'); F(M);
                  outchar('h')
            end of C;
            class D;
            begin outchar('3'); detach; outchar('c');
                  resume(RC); outchar('*')
            end of D;
            ref(C)RC; ref(D)RD; RC:-new C; outchar('2');
            RD:-new D; outchar('4'); resume(RC); outchar('i')
      end of QPS2's head
end of program 5G - similar to 5E but call(RD) inside
procedure M is changed to call(RC): it would make a cycle in the
dynamic enclosure of RC. Moreover, RC is not detached but
resumed and it is just the message sent as an error one by the
compiler after the output of 1234567890ab:
     call(x): x is not in detached state;


6. NESTING CLASSES:

begin class C;
      begin class A;
            begin outchar('2'); detach; outchar('4');
                  this C.detach; outchar('6'); detach;
                  outchar('9'); call(this C); outchar('b')
            end of A;
            ref(A)Q;
            outchar('1'); Q:-new A; outchar('3'); call(Q);
            outchar('7'); detach; outchar('a')
      end of C;
      ref(C)R;
      R:-new C; outchar('5'); call(R); outchar('8');
      inspect R do call(Q); outchar('c')
end of program 6A - detach is used at two levels inside A,
the levels are identified by the localization of detach -
the first occurence {before outchar('4')} could be written
this A.detach, too: output 123456789abc. The events which
cause the output of "abc" are similar to those in 1A;

begin class C;
      begin procedure DC; detach;
            class A;
            begin procedure DA; detach;
                  outchar('2'); DA; outchar('4');
                  DC; outchar('6'); DA;
                  outchar('9'); call(this C); outchar('b')
            end of A;
            ref(A)Q;
            outchar('1'); Q:-new A; outchar('3'); call(Q);
            outchar('7'); DC; outchar('a')
      end of C;
      ref(C)R;
      R:-new C; outchar('5'); call(R); outchar('8');
      inspect R do call(Q); outchar('c')
end of program 6B - similar as 6A, only the detach statements
have been transformed into procedures local to the both nesting
classes. The behaviour of 6B is the same as that of 6A;

begin class G;
      begin class P; virtual:procedure F;;
            ref(P)R1;
            R1:-new P;
      end of G;
    G class G1;
      begin P class Q(x); real x;
              begin procedure F(U); ref(Q)U;
                              outfix(x+U.x,3,10);
              end of Q;
              ref(Q)R2;
              R1:-new Q(1); R2:-new Q(2);
      end of G1;
    G class G2;
      begin P class Q(y); text y;
              begin procedure F(U); ref(Q)U;
                              outtext(y&U.y);
              end of Q;
              R1:-new Q("bye")
      end;
      ref(G1)W1; ref(G2)W2; W1:-new G1; W2:-new G2;
TRANSPLANTATION: inspect W1 do
      begin inspect W2 do L:R2:-R1; R2.F(R1) end
end of program 6C - an example to "transplantation" error. The
compiler refuses to accept the statement labelled by L. As the
reason it announces a qualification incompatibility between
both the sides of the assignment;

begin class G;
      begin class P; virtual:procedure F;;
            ref(P)R1;
            R1:-new P;
      end of G;
    G class G1;
      begin P class Q(x); real x;
              begin procedure F(U); ref(Q)U;
                              outfix(x+U.x,3,10);
              end of Q;
              ref(Q)R2;
              R1:-new Q(1); R2:-new Q(2);
      end of G1;
    G class G2;
      begin P class Q(y); text y;
              begin procedure F(U); ref(Q)U;
                              outtext(y&U.y);
              end of Q;
              R1:-new Q("bye")
      end;
      ref(G1)W1; ref(G2)W2; W1:-new G1; W2:-new G2;
TRANSPLANTATION: inspect W1 do
      begin inspect if inint gt 0 then W2 else W1 do L:R2:-R1;
            R2.F(R1)
      end
end of program 6D - a more sophisticated transplantation, the
reaction of the compiler is the same as in 6C;


7. NESTING QUASI-PARALLEL SYSTEMS:

begin class C;
      begin outchar('1'); detach;
INNER_QPS:
SIMSET      begin class A;
                  begin outchar('6'); detach; outchar('b');
                        resume(RD); outchar('d'); resume(QB)
                  end of A;
                  class B;
                  begin outchar('8'); detach; outchar('e');
                        resume(RD); outchar('g');
                        this C.detach; outchar('i'); detach;
                  end of B;
                  ref(A)QA; ref(B)QB;
                  STATEMENTS_OF_INNER_QPS:
                  outchar('5'); QA:-new A; outchar('7');
                  QB:-new B; outchar('9'); resume(RD);
                  outchar('a'); resume(QA); outchar('j');
                  resume(RD); outchar('l');
                L:detach; outchar('m'); this C.detach;
                  outchar('p');
                K:detach; outchar('q')
            end of INNER QPS;                outchar('r')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('0'); resume(RC);
            outchar('c'); resume(RC); outchar('f'); resume(RC);
            outchar('k'); resume(RC); outchar('o'); resume(RC)
      end of D;
      ref(C)RC; ref(D)RD;              STATEMENTS_OF_OUTER_QPS:
      RC:-new C; outchar('2'); RD:-new D; outchar('4');
      resume(RC); outchar('h'); resume(RC); outchar('n');
      resume(RD); outchar('s')
end of program 7A - two levels of QPS exist the transition of
the run control is determined by the level of the argument in
resume: resume(Q*) is made by some Q#, resume(R*) is made by
some R#. The detach statements labelled by L: and K: are
performed by the block prefixed by SIMSET, according to the
SIMULA standard as dummy stataments. The output is
           1234567890abcdefghijklmnopqrs
- the digits are made during preparing both the QPSs while
more interesting events come during the output of the letters;

begin class C;
      begin class PPP;;
            outchar('1'); detach;
INNER_QPS:
PPP         begin class A;
                  begin outchar('6'); detach; outchar('b');
                        resume(RD); outchar('d'); resume(QB)
                  end of A;
                  class B;
                  begin outchar('8'); detach; outchar('e');
                        resume(RD); outchar('g');
                        this C.detach; outchar('i'); detach;
                  end of B;
                  ref(A)QA; ref(B)QB;
                  STATEMENTS_OF_INNER_QPS:
                  outchar('5'); QA:-new A; outchar('7');
                  QB:-new B; outchar('9'); resume(RD);
                  outchar('a'); resume(QA); outchar('j');
                  resume(RD); outchar('l');
                L:detach; outchar('m'); this C.detach;
                  outchar('p');
                K:detach; outchar('q')
            end of INNER QPS;             outchar('r')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('0'); resume(RC);
            outchar('c'); resume(RC); outchar('f'); resume(RC);
            outchar('k'); resume(RC); outchar('o'); resume(RC)
      end of D;
      ref(C)RC; ref(D)RD;             STATEMENTS_OF_OUTER_QPS:
      RC:-new C; outchar('2'); RD:-new D; outchar('4');
      resume(RC); outchar('h'); resume(RC); outchar('n');
      resume(RD); outchar('s')
end of program 7B which differs from 7A only so that the block
prefix is a user made class instead of SIMSET. The output is
the same as at 7A:   1234567890abcdefghijklmnopqrs;

begin class C;
      begin outchar('1'); detach;
INNER_QPS:  begin class A;
                    begin outchar('6'); detach; outchar('b');
                          resume(RD); outchar('d'); resume(QB)
                    end of A;
                    class B;
                    begin outchar('8'); detach; outchar('e');
                          resume(RD); outchar('g');
                          this C.detach; outchar('i'); detach;
                    end of B;
                    ref(A)QA; ref(B)QB;
                    STATEMENTS_OF_INNER_QPS:
                    outchar('5'); QA:-new A; outchar('7');
                    QB:-new B; outchar('9'); resume(RD);
                    outchar('a'); resume(QA); outchar('j');
                    resume(RD); outchar('l');
                  L:detach; outchar('m'); this C.detach;
                    outchar('p');
                  K:detach; outchar('q')
            end of INNER QPS;                  outchar('r')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('0'); resume(RC);
            outchar('c'); resume(RC); outchar('f'); resume(RC);
            outchar('k'); resume(RC); outchar('o'); resume(RC)
      end of D;
      ref(C)RC; ref(D)RD;              STATEMENTS_OF_OUTER_QPS:
      RC:-new C; outchar('2'); RD:-new D;
      outchar('4'); resume(RC); outchar('h'); resume(RC);
      outchar('n'); resume(RD); outchar('s')
end of program 7C which differs from 7A and 7B by the absence
of block prefix: the only block instance which can now perform
the detach statements labelled by L and K is "this C" and
therefore the output finishes by "noms" instead of "mnopqrs":
detach labelled by L: returns the run to the statement
outchar('n') of the outer QPS;

begin class C;
      begin outchar('1'); !detach;
INNER_QPS:
SIMSET      begin class A;
                  begin outchar('6'); detach; outchar('b');
                        resume(RD); outchar('d'); resume(QB)
                  end of A;
                  class B;
                  begin outchar('8'); detach; outchar('e');
                        resume(RD); outchar('g');
                        this C.detach; outchar('i'); detach
                  end of B;
                  ref(A)QA; ref(B)QB;
                  STATEMENTS_OF_INNER_QPS:
                  outchar('5'); QA:-new A; outchar('7');
                  QB:-new B; outchar('9'); resume(RD);
                  outchar('a'); resume(QA); outchar('j');
                  resume(RD); outchar('l'); detach;
                  outchar('m'); this C.detach; outchar('p');
                  detach; outchar('q')
            end of INNER QPS;                  outchar('r')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('0'); resume(RC);
            outchar('c'); resume(RC); outchar('f'); resume(RC);
            outchar('k'); resume(RC); outchar('o'); resume(RC)
      end of D;
      ref(C)RC; ref(D)RD;              STATEMENTS_OF_OUTER_QPS:
      RC:-new C; outchar('2'); RD:-new D;
      outchar('4'); resume(RC); outchar('h'); resume(RC);
      outchar('n'); resume(RD); outchar('s')
end of program 7D which differs from 7A only so that the
detach statement by means of which RC enters the QPS is
removed (the statement is converted into a comment): RC
operates until resume(RD) after outchar('9') and then it
should resume RD, which is not yet generated;

begin class C;
      begin outchar('1'); !detach;
INNER_QPS:
     SIMSET begin class A;
                  begin outchar('6'); detach; outchar('b');
                        resume(RD); outchar('d'); resume(QB)
                  end of A;
                  class B;
                  begin outchar('8'); detach; outchar('e');
                        resume(RD); outchar('g');
                        this C.detach; outchar('i'); detach;
                  end of B;
                  ref(A)QA; ref(B)QB;  STATEMENTS_OF_INNER_QPS:
                  outchar('5'); QA:-new A; outchar('7');
                  QB:-new B;
                M:this C.detach; outchar('9');
                  resume(RD); outchar('a'); resume(QA);
                  outchar('j'); resume(RD); outchar('l');
                  detach; outchar('m'); this C.detach;
                  outchar('p'); detach; outchar('q')
            end of INNER QPS;                     outchar('r')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('0'); resume(RC);
            outchar('c'); resume(RC); outchar('f'); resume(RC);
            outchar('k'); resume(RC); outchar('o'); resume(RC)
      end of D;
      ref(C)RC; ref(D)RD;              STATEMENTS_OF_UPPER_QPS:
      RC:-new C; outchar('2'); RD:-new D; outchar('4');
      resume(RC); outchar('h'); resume(RC); outchar('n');
      resume(RD); outchar('s')
end of program 7E - the detach statement absent in 7D is given
but to the place labelled by M: the present program differs
from 7A, where RC is detached before creating the internal QPS
- in 7E the attached instance RC forms its iternal QPS and only
then is detached (note the dot at the detach statement which is
inside the prefixed block!) - the beginning of the output
differs very much from that of 7A: we get
       1567823490abcdefghijklmnopqrs;

begin class C;
      begin outchar('1'); !detach;
INNER_QPS:
     SIMSET begin class A;
                  begin outchar('6'); detach; outchar('b');
                        resume(RD); outchar('d'); resume(QB)
                  end of A;
                  class B;
                  begin outchar('8'); detach; outchar('e');
                        resume(RD); outchar('g');
                        this C.detach; outchar('i'); detach;
                  end of B;
                  ref(A)QA; ref(B)QB;  STATEMENTS_OF_INNER_QPS:
                  outchar('5'); QA:-new A; outchar('7');
                  QB:-new B;
                M:detach; outchar('9'); resume(RD);
                  outchar('a'); resume(QA); outchar('j');
                  resume(RD); outchar('l'); detach;
                  outchar('m'); this C.detach; outchar('p');
                  detach; outchar('q')
            end of INNER QPS;                  outchar('r')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('0'); resume(RC);
            outchar('c'); resume(RC); outchar('f'); resume(RC);
            outchar('k'); resume(RC); outchar('o'); resume(RC)
      end of D;
      ref(C)RC; ref(D)RD;              STATEMENTS_OF_UPPER_QPS:
      RC:-new C; outchar('2'); RD:-new D; outchar('4');
      resume(RC); outchar('h'); resume(RC); outchar('n');
      resume(RD); outchar('s')
end of program 7F - the dot and the reference expression before
it is removed from the detach statement added in 7E: the detach
is performed by the block prefixed by SIMSET and RC is not
detached before making resume(RD) - similarly as in 7D, RD has
not been created yet;

begin class C;
      begin outchar('1'); !detach;
INNER_QPS:  begin class A;
                  begin outchar('6'); detach; outchar('b');
                        resume(RD); outchar('d'); resume(QB)
                  end of A;
                  class B;
                  begin outchar('8'); detach; outchar('e');
                        resume(RD); outchar('g');
                        this C.detach; outchar('i'); detach;
                  end of B;
                  ref(A)QA; ref(B)QB;  STATEMENTS_OF_INNER_QPS:
                  outchar('5'); QA:-new A; outchar('7');
                  QB:-new B;
                M:detach; outchar('9'); resume(RD);
                  outchar('a'); resume(QA); outchar('j');
                  resume(RD); outchar('l'); detach;
                  outchar('m'); this C.detach; outchar('p');
                  detach; outchar('q')
            end of INNER QPS;                   outchar('r')
      end of C;
      class D;
      begin outchar('3'); detach; outchar('0'); resume(RC);
            outchar('c'); resume(RC); outchar('f'); resume(RC);
            outchar('k'); resume(RC); outchar('o'); resume(RC)
      end of D;
      ref(C)RC; ref(D)RD;              STATEMENTS_OF_UPPER_QPS:
      RC:-new C; outchar('2'); RD:-new D; outchar('4');
      resume(RC); outchar('h'); resume(RC); outchar('n');
      resume(RD); outchar('s')
end of program 7G - similar to 7F but the block prefix is
removed: the concerned detach statement cannot be interpreted
by the subblock, i.e. as a dummy statement, but is performed by
RC - the beginning of the run is similar to that at 7E while
the end is the same as for 7C and so is the testimony of the
output: 1567823490abcdefghijklnoms;

</pre>

<p>
<BR>
<IMG SRC="./images/ligne_degrade1.gif"><BR>
<IMG SRC="./picture/mail.gif" ALIGN="MIDDLE"> If you 
have some comments,or suggestions please mail to : 
<A HREF="mailto:asu@isima.fr">asu@isima.fr</A>
<BR><IMG SRC="./images/ligne_degrade1.gif">
</body>
</html>

