  <SCRIPT Language='JavaScript'> function winopen111 () 
{ msg=open("","NewWindow3","toolbar=yes,location=yes,directories=no,status=no,menubar=yes,scrollbars=yes,resizable=yes,copyhistory=yes, copyhistory=yes,width=600,height=400");
 msg.location = "cv.html" } </SCRIPT>  


  <SCRIPT Language='JavaScript'> function winopen3 () 
{ msg=open("","NewWindow3","toolbar=yes,location=yes,directories=no,status=no,menubar=yes,scrollbars=yes,resizable=yes,copyhistory=yes, copyhistory=yes,width=600,height=400");
 msg.location = "these.html" } </SCRIPT>  


  <SCRIPT Language='JavaScript'> function winopen31 () 
{ msg=open("","NewWindow3","toolbar=yes,location=yes,directories=no,status=no,menubar=yes,scrollbars=yes,resizable=yes,copyhistory=yes, copyhistory=yes,width=600,height=400");
 msg.location = "act.html" } </SCRIPT>  


  <SCRIPT Language='JavaScript'> function winopen4 () 
{ msg=open("","NewWindow3","toolbar=yes,location=yes,directories=no,status=no,menubar=yes,scrollbars=yes,resizable=yes,copyhistory=yes, copyhistory=yes,width=600,height=400");
 msg.location = "enseigne.html" } </SCRIPT>  



  <SCRIPT Language='JavaScript'> function winopen6 () 
{ msg=open("","NewWindow3","toolbar=yes,location=yes,directories=no,status=no,menubar=yes,scrollbars=yes,resizable=yes,copyhistory=yes, copyhistory=yes,width=600,height=400");
 msg.location = "http://Bermudes.univ-bpclermont.fr" } </SCRIPT>  


  <SCRIPT Language='JavaScript'> function winopen7 () 
{ msg=open("","NewWindow3","toolbar=yes,location=yes,directories=no,status=no,menubar=yes,scrollbars=yes,resizable=yes,copyhistory=yes, copyhistory=yes,width=600,height=400");
 msg.location = "http://www-poleia.lip6.fr/SYSDEF/roadef/" } </SCRIPT>  


<body background="images/bk19.jpg"> 

  <br> <center> <font face="Monotype Corsiva"><font color="#FF0000"><font size=+4>Menu
 </font></font></font></h1></center> <br> 

  <br> <form> <input type=button value="     FORMATION      " 
onclick="winopen111();"> 

</form>  <form> <input type=button value=
"        THESE              " onclick="winopen3();"> </form> 

 <form> <input type=button value="   RECHERCHE      " onclick="winopen31();">
 </form>  <form> <input type=button value="     ENSEIGNE          " 
onclick="winopen4();"> </form>

<center>
<p><img SRC="images/line.gif" NOSAVE>
</center>

 <form>
 <input type=button value="     BERMUDES      " onclick="winopen6();"> </form> 
 <form> <input type=button value="         ROADEF         " onclick="winopen7();">
 </form>  <body background="images/bk19.JPG"> <br> <br> 

