/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:50;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.nivo-controlNav .nivo-thumbNavWrapper {
	z-index: 100;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.nivo-controlNavHolder {
	display: none;
	z-index: 100;
}
.nivoSlider .nivo-controlNavHolder {
	display: block;
}

.nivoSlider .nivo-controlNavHolder .nivo-controlNav span {
	display: block;
}

.nivoSlider .nivo-controlNavHolder .nivo-controlNav span.nivo-thumbNavWrapper {
	display: none;
}
/*
     FILE ARCHIVED ON 02:01:01 Feb 09, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:25 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 919.477
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.082
  cdx.remote: 0.061
  esindex: 0.007
  LoadShardBlock: 888.313 (3)
  PetaboxLoader3.datanode: 119.012 (5)
  PetaboxLoader3.resolve: 2311.377 (3)
  load_resource: 1650.85 (2)
*/