/**
 * @subpackage  ISIMA HM01J1.7
 * @author      Loic
 * @date        2011-11-01
 * @package     Joomla
 * @copyright   Based on LigthBreez from  Hurricane Media ApS.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size   : 16px;

}

ol, ul {
    line-height : 105%;
	margin  : 8px 0 0 20px;
	padding : 0 0 0 30px;
	text-align : justify;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/**  General **/

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	text-align: left;
	font-family : arial, verdana, trebuchet, "lucida console", sans-serif;
	background: lightgray url("/web/20140209020824im_/http://www.isima.fr/isima/templates/isima/images/fond.jpg") repeat scroll 0 0;
}

a {
	color: #02a6dc;
	text-decoration: none;
}

a:hover {
	color: #1a1c2a;
	text-decoration: underline;
}

img {
	border-style: none;
}

em {
	font-weight:bold;
}

p {
	line-height:110%;
	margin:8px 0 0 0;
	text-align : justify;
}

h1 , h2 {
    font-size: 135%;
	font-weight: 400;
	color: black;
	/* margin-bottom: ; */
 	border-bottom : black solid 2px;
}

h1 a , h2 a{
	color: black;
	text-decoration: none;
	font-variant   : small-caps;
}

h1 a:hover, h2 a:hover {
	color: #1a1c2a;
	text-decoration: none;
}

h3 {
	font-weight: 400;
	color: #1a1c2a;
	font-size: 100%x;
	margin-bottom: 6px;
}

h3 a {
	color: #1a1c2a;
	text-decoration: none;
}

h3 a:hover {
	color: #02a6dc;
	text-decoration: none;
} 

.moduletable h3 {
	font-weight: 400;
	color: #1a1c2a;
	font-size: 100%;
	margin-bottom: 6px; 
}

h4 {
	font-weight: 600;
	color: #000000;
	font-size: 87.5%;
}

h5 {
	font-weight: 300;
	color: #000000;
	font-size: 87.5%;
}

h6 {
	font-weight: 600;
	font-size: 81.25%;
}




  .blog h2, .blog-featured h2,h3 {
   font-variant : normal;
   font-size : 105%;
   border-bottom : black solid 1px;
   margin: 15px 0 10px 0;
   padding: 0 0 3px 24px;
   background: url(/web/20140209020824im_/http://www.isima.fr/isima/templates/isima/images/puce.png) no-repeat top left;
   font-weight : bold;
   clear:both;
}

 .blog h2  a, .blog-featured h2 a, h3 a {
	color: #1a1c2a;
	text-decoration: none;
}

 .blog h2 a:hover, .blog-featured h2 a:hover ,h3 a:hover {
	color: #02a6dc;
	text-decoration: none;
}

ul {
	list-style-position: outside;
	list-style-type: square;
	padding-left: 30px;
	margin-top: 6px;
	margin-bottom: 6px;
}

hr {
	border: 0;
	color: rgb(226,226,226);
	background-color: rgb(226,226,226);
	height: 1px
}

.tip {
	font-size:0.9em;
	text-align:left;
	line-height: 1.2em;
	padding:3px;
	max-width:400px
}

.tip-title {
	font-weight:bold;
}

#page {
	width: 1000px;
	background-color :  rgb(51,102,153); 
    margin : 0 auto;
}

#wrapper {
    /*position:absolute;*/
	display: block;
	width: 996px; 
	background-color: #fff;
	/*background: lightgray url("/web/20140209020824im_/http://www.isima.fr/isima/templates/isima/images/traits-blancs.jpg") repeat scroll 0 0; */
	padding: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-right:2px;
	margin-left :2px;
	font-size : 0.8em;
	position:relative;
}

#push {
	height: 4.4em;
}

/* loic */



/** Buttoms **/

#login-form input.button,
#member-profile button.validate,
#member-registration button.validate,
#user-registration button.validate,
.logout button,
.login button,
#searchForm button,
#contact-form button.validate,
#mailto-window button {
	font-size: 1.1em;
	color: #fff;
	background-color: #1a1c2a;
	border: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 2px;
	margin-left: 0px;	

}

#login-form input.button {
   margin-top : 5px;
}

#login-form input.button:hover,
#member-profile button.validate:hover,
#member-registration button.validate:hover,
#user-registration button.validate:hover,
.logout button:hover,
.login button:hover,
#searchForm button:hover,
#contact-form button.validate:hover,
#mailto-window button:hover {
	color: #fff;
	text-decoration: none;
	background-color: #02a6dc;
}





/** Header **/

#header {
	margin : 40px auto 0px auto;
    width:1000px;
    height:140px;
    background-color : rgb(51,102,153);
	background
}

/*
#logo {
	float: left;
	font-family: 'Oswald', sans-serif; font-weight: 400;
	font-size: 2.4em;
	line-height: 1em;
	letter-spacing: -0.03em;
	color: #02a6dc;
	padding-top: 14px;
	padding-bottom: 14px;
	margin: 0px;
} */

#logo a {
	text-decoration: none;
	color: #02a6dc;
}

#logo a:hover {
	text-decoration: none;
	color: #02a6dc;
}

#logo div.sitedescription {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.40em;
	letter-spacing: 0;
	color: rgb(190,190,190);
	padding-left: 2px;
}

#topnav {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	font-size: 0.9em;
}

#topnav a {
	text-decoration: none;
}

#topnav a:hover {
	color: #fff;
}

#topnav h3 {
	display: none;
}

#topnav ul.menu li {
	display: inline;
	padding-left: 25px;
}


#search {
	clear: right;
	float:right;
	margin-top: -185px;
	margin-right: 10px;
}

#mod-search-searchword {
	background-image:url(/web/20140209020824im_/http://www.isima.fr/isima/templates/isima/images/search.png);
	background-repeat:no-repeat;
	background-position: right;
	padding: 4px;
	padding-right: 24px;
}









/** Topmenu **/

#topmenu {
	width: 1000px;
	padding-left: 0px;
	float: left;
	font-size: 1.4em;
	color: #fff;
	background-color: #1a1c2a;
	overflow: hidden;
}

#topmenu ul.menu {
	margin: 0px;
	padding: 9px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #3b4060;
	float: left;
}

#topmenu ul.menu li {
	display: inline;
	padding-right: 1px;
}

#topmenu ul.menu li a {
	color: #fff;
	padding: 7px;
	padding-left: 22px;
	padding-right: 22px;
	text-decoration:none;
	background-color: #1a1c2a;
}

#topmenu ul.menu li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #02a6dc;
}





/** Breadcrumbs **/

#breadcrumbs {
	width: auto;
	font-size: 0.89em;
	text-decoration:none;
	margin-bottom: 0px;
	margin-top: 4px;
	padding-left: 22px;
}

#breadcrumbs a {
	color: #1a1c2a;
	text-decoration: none;
}

#breadcrumbs a:hover {
	color: #02a6dc;
	text-decoration: underline;
}






/** Menus (Left/Right) **/

#leftmenu {
	width: 196px;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 4px;
	padding-left: 22px;	
	float: left;
	line-height: 1.7em;
}

#rightmenu {
	width: 196px;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 26px;
	padding-right: 26px;
	float: right;
	line-height: 1.7em;	
}


#leftmenu a,
#rightmenu a {
	color: #1a1c2a; text-decoration: none;
}

#leftmenu a:hover,
#rightmenu a:hover {
	color: #02a6dc; text-decoration: none;
}

#leftmenu ul,
#rightmenu ul {
	padding-left: 0px;
	list-style-type: none;
	margin-left: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#leftmenu ul li,
#rightmenu ul li {
	border-bottom  : thin solid black;
	padding-top: 2px;
	padding-bottom: 2px;	
	list-style-type: none;
}

#leftmenu ul li ul,
#rightmenu ul li ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

#leftmenu ul li ul li,
#rightmenu ul li ul li {
	border: 0px;
	padding-bottom: 0px;
	list-style-type: none;
	font-size: 1em;
	line-height: 1.3em;
    padding-left:30px;	
}

#leftmenu ul.menu > li  >a,
#rightmenu ul.menu li a {
	background: url(/web/20140209020824im_/http://www.isima.fr/isima/templates/isima/images/tree-plus.gif) no-repeat top left;
	padding-left   : 20px;
}

#leftmenu ul.menu > li.open  >a,
#rightmenu ul.menu li.open a {
	background: url(/web/20140209020824im_/http://www.isima.fr/isima/templates/isima/images/tree-minus.gif) no-repeat top left;
	padding-left   : 20px;
}

#leftmenu ul.menu li.current a,
#rightmenu ul.menu li.current a {
	font-weight:bold;
}

#leftmenu ul.menu li.current ul li a,
#rightmenu ul.menu li.current ul li a {
	font-weight:normal;
}


.moduletable {
	overflow: hidden;
	margin-bottom: 2px;
}

.moduletable_menu {
	clear: both;
}

.moduletable_menu h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #1a1c2a;
	font-size: 18px;
	margin-bottom: 6px;
}








/** Content **/

#content-w1 {  /** left and right menu visible **/
	width: 508px;
	float: left;
	padding-top: 20px;
	overflow: hidden;
	padding-left: 22px;
	margin-bottom: 30px;
	font-size:16px;
}

#content-w2 {  /** left or right menu visible **/
	width: 730px;
	float: left;
	padding-top: 20px;
	overflow: hidden;	
	padding-left: 22px;
	margin-bottom: 30px;
	font-size:16px;
}

#content-w3 {  /** no menu visible **/
	width: 952px;
	float: left;
	padding-top: 20px;
	overflow: hidden;
	padding-left: 22px;	
	margin-bottom: 30px;
	font-size:16px;
}

#content-w1 h3,
#content-w2 h3,
#content-w3 h3 {
	margin-top: 20px;
}

ul.actions {
	float: right;
	clear: both;
	width: 100%;
	/* margin-top:20px;*/ /* ajoute pour le blog premier page */
	padding-bottom: 0px;
	list-style-type: none;
}

li.print-icon,
li.email-icon,
li.edit-icon {
	float: right;
	margin-left: 4px;
	margin-right: 4px;
	padding: 0;
	margin-top: -14px;
}

li.print-icon a,
li.email-icon a,
li.edit-icon a {
	text-decoration: none;
}

dl.article-info {
	clear: both;
	margin-left: 0;
	padding: 0px;
	font-size: 0.86em;
	line-height: 1.3em;
}

.article-info dd, .article-info dd {
	margin-left: 0;
}

.article-info-term {
	display:none
}

.categories-list ul {
	list-style-type: none;
	padding-left: 0;
	padding-left: 5px;
	margin-top: 8px;
}

.categories-list ul li {
	list-style-type: none;
	padding-left: 5px;
}

.categories-list dl dt, .categories-list dl dd {
	display: inline;
}

.image-left {
	float: left;
	margin-top: 0pt;
	margin-right: 10px;
	margin-bottom: 4px;
	margin-left: 0pt;
}

.category-desc p img {
	float: left;
	margin-top: 0pt;
	margin-right: 10px;
	margin-bottom: 2px;
	margin-left: 0pt;	
}

.first ul {
	padding-left: 15px;
	padding: 5px;
	
}

.first ul li {
	padding-bottom: 8px;
	padding: 5px;

}

.last ul {
	padding-left: 15px;
	
}

.last ul li {
	padding-top: 10px;
}


.cat-children ul {
	list-style-type: none;
	margin-top: 10px;
	padding-left: 0px;
}

ul#archive-items {
	list-style-type: none;
	margin-top: 10px;
	padding-left: 0px;	
}

.intro ul {
	margin-top: 10px;
	margin-bottom: 20px;
}

fieldset.filters {
	border:solid 0px #ddd;
	margin-top: 5px;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 2px;
}

legend.hidelabeltxt {
	display: none;
}

.items-leading {
	margin-bottom: 20px;
}

.newsfeed ol li {
	margin-top: 10px;
}

.newsfeed ol li img {
	margin-top: -10px;
}

#article-index {
	width:25%;
	float:right;
	border:solid 1px #eee;
	padding:10px;
	margin-bottom: 10px;
	margin-left: 10px;
	background:#f9faf9
}

#article-index h3 {
	font-size:1em;
}

#article-index ul {
	list-style-type:disc;
	padding-left: 1.4em;
	color:#666;
}

.pagenavcounter {
	font-weight:bold;
	padding-top: 10px;
	padding-bottom: 10px;
}







/** Tables **/
table {
	border-collapse:collapse
}

tr, td {
	border:solid 1px #ddd
}

table.weblinks,
table.category {
	margin:10px 10px 20px 0px;
	width:100%;
}

table.weblinks td,
table.category td {
	border-collapse:collapse;
	padding:7px;
}

table.weblinks th,
table.category th {
	padding:7px;
	text-align:left
}

td.num {
	vertical-align:top;
	text-align:left;
}

td.hits {
	vertical-align:top;
	text-align:center
}

td p {
	margin:0;
	line-height:1.3em
}

.display-limit,
.filter {
	text-align:right;

}

tr.cat-list-row1 {
	background-color: rgb(242,242,242);
}

table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th {
	background: #1a1c2a;
}

table.weblinks th a,
table.newsfeeds th a,
table.category th a,
table.jlist-table th a,
table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th {
	color:#fff
}

table.category th a img {
	border:solid 0px ;
	display: none;
}

table.category th a:hover {
	color: #02a6dc;
}

table.moduletable td,
table.moduletable tr {
	border:0;
}






/** Pagination **/
.pagenav {
	padding:2px
}

ul.pagenav {
	list-style-type: none;
	margin: 0;
	margin-top: 20px;
	padding: 4px;
	overflow: hidden;
}

li.pagenav-prev a,
li.pagenav-next a {
	font-family: 'Oswald', sans-serif; font-weight: 400;
	font-size: 1.1em;
	line-height: 1.6em;
	color: #fff;
	text-decoration: none;
	background-color: #1a1c2a;
	border: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 12px;
} 

li.pagenav-prev a:hover,
li.pagenav-next a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #02a6dc;
}

li.pagenav-prev {
	float: left;
}

 li.pagenav-next {
	float:right
}

.pagination {
	clear: both;
	padding-top:8px;
	padding-bottom:8px;
	border-top:solid 1px rgb(226,226,226);
}

.pagination ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:left;
}

.pagination li {
	display:inline;
	padding:2px 5px;
	text-align:left;
	margin:0 2px
}

.pagination li.pagination-start,
.pagination li.pagination-next,
.pagination li.pagination-end,
.pagination li.pagination-prev {
	border:0
}

.pagination li.pagination-start,
.pagination li.pagination-start  span {
	padding:0
}

p.counter {
	font-weight:bold;
}






/** Blog **/

.cols-1 {
	display: block;
	float: none !important;
	margin: 0 !important;
}

.cols-2 .column-1 {
	width:48%;
	float:left;
}

.cols-2 .column-2 {
	width:48%;
	float:right;
	margin:0
}

.cols-3 .column-1 {
	float:left;
	width:29%;
	padding:0px 5px;
	margin-right:4%

}

.cols-3 .column-2 {
	float:left;
	width:29%;
	margin-left:0;
	padding:0px 5px
}

.cols-3 .column-3 {
	float:right;
	width:29%;
	padding:0px 5px
}

.items-row {
	overflow:hidden;
	padding-top : 20px;
	margin-bottom:10px !important;
}

.column-2 {
	width:55%;
	margin-left:40%;
}

.column-3 {
	 width:30%
}

.blog-more {
	padding:10px 5px
}






/** Login **/

.login {
   background-image:url(/web/20140209020824im_/http://www.isima.fr/isima/templates/isima/images/fond.jpg);
   background-color:lightblue;
   margin:20px 0px 20px 0px;
   padding:15px 0px 10px 10px;
}

.login h3 {
   font-size:120%;
   font-variant   : small-caps;
   background-image:none;
   border-bottom : none;
   padding : 0;
   margin:0 0 10px 0;
}

#login-form fieldset.userdata {
	margin-bottom: 5px;
	margin-top: -15px;
	margin-left: 0px;
	border: 0px;
	font-size: 0.96em;
	float: left;
}

#login-form ul {
	margin-left: 0px;
}


#login-form ul li {
	border: 0px;
	line-height: 1.1em;
	float: left;
	width: 100%;
}


#login-form input.inputbox {
	width: 90%;
	margin-left: 0px;	
}

#login-form label {
	display: block;
	margin-left: 0px;	
}

#form-login-remember label {
	float: none;
	width: auto;
	display: inline;
}

#form-login-remember input.inputbox {
	width: auto;
}

.login fieldset {
	border: 0;
}

.login-fields {
	margin:10px 0
}

.login-fields label {
	float:left;
	width:9em
}

.login-description,
.logout-description {
	overflow:hidden;
	padding-left:5px;
	margin:20px 0 10px 0
}

.logout-description {
	margin-bottom:20px
}





/** User profile **/

#users-profile-core,
#users-profile-custom {
	margin:10px 0 15px 0;
	padding:15px;
}

#users-profile-core dt,
#users-profile-custom dt {
	float:left;
	width:12em;
	padding:3px 0;
}

#users-profile-core dd,
#users-profile-custom dd {
	padding:3px 0;
}

#users-profile-core legend,
#users-profile-custom legend,
.profile-edit legend,
.registration legend {
	font-weight:bold
}

#member-profile fieldset,
.registration fieldset {
	margin:10px 0 15px 0;
	padding:15px;
}

.profile-edit form#member-profile fieldset dd,
.registration form#member-registration fieldset dd {
	float:none;
	padding:5px 0;
}

.profile-edit form#member-profile fieldset dd input,
.profile-edit form#member-profile fieldset dd select,
.registration form#member-registration fieldset dd input {
	width: 17em;
}

.profile-edit form#member-profile fieldset dt,
.registration form#member-registration fieldset dt {
	clear: left;
	float: left;
	padding: 5px 5px 5px 0;
	width: 16em;
}

#users-profile-core,
#users-profile-custom {
	border: solid 1px #ccc;
}

#member-profile fieldset,
#member-registration fieldset {
	border: solid 1px #ccc;
}

#user-registration.form-validate fieldset {
	border: solid 0px;
	padding-left: 0;
}







/** Contacts **/

h3.pane-toggler {
	font-size: 1.1em;
	border-top: 1px solid rgb(226,226,226);
	margin-bottom: 2px;
	padding-bottom: 8px;
	padding-top: 8px;
}

h3.pane-toggler-down {
	font-size: 1.1em;
	border-top: 1px solid rgb(226,226,226);
	margin-bottom: 2px;
	padding-bottom: 8px;
	padding-top: 8px;
}

address span {
	display: block;
	font-style: normal;
}

.contact-address img {
	margin-bottom: 10px;
}

.panel .contact-form,
.panel  .contact-miscinfo
{
	padding:10px
}

.contact .panel .contact-form form,
.contact .panel .contact-address
{
	margin:20px 0 0 0
}

#contact-form fieldset {
	border: 0px;
}

#contact-form fieldset dl dt {
	padding-top: 4px;
}

#jform_contact_email_copy-lbl {
	float: left;
	padding-right: 6px;
}

#jform_contact_email_copy {
	margin: 4px;
}

.star {
	color: #cc0000;
}

.tip
{
	border:solid 1px #333;
	background:#ffffcc;
	font-size: 0.86em;
	padding: 5px;
}




/** Search **/

.searchintro {
	font-weight:normal;
	margin:20px 0 20px;
}

.searchintro img {
	border:0px
}

.word {
	border:solid 0px #ccc ;
}

fieldset.word label {
	font-weight: bold;	
	color:#333;

}

.form-limit {
	margin:20px 0 0;
	text-align:right;
	padding:0 10px 0 20px;
}

.highlight {
	font-weight: bold;
}

.ordering-box {
	width:40%;
	float:right;
}

.phrases-box {
	width:60%;
	float:left
}

.only,
.phrases {
	border:solid 1px #ccc;
	margin:10px 0 0 0px;
	padding:15px ;
	line-height:1.3em;
}

label.ordering {
	display:block;
	margin:10px 0 10px 0
}

.word {
	padding:10px 10px 10px 0;
}

.word input {
	font-weight:bold;
	margin:0px 10px 0px 10px;
	padding:4px;
	font-size:1em
}

.word label {
	font-weight:bold
}

fieldset.only label,
fieldset.phrases label {
	margin:0 10px 0 0px
}

.ordering-box label.ordering {
	margin:0 10px 5px 0;
	float:left
}

form .search label {
	display:none
}

.search legend {
	font-weight:bold
}




/** Search results **/

dl.search-results dt.result-title {
	border-top: solid 1px #ddd;
	padding-top: 10px;
	font-weight:bold;
}

dl.search-results dd.result-created {
	padding-top: 6px;
	padding-bottom: 10px;
	color: rgb(170,170,170);
}


dd.result-category {
	padding-top: 6px;
	padding-bottom: 6px;
}




/* Stats */
.stats-module dl {
	margin:10px 0 10px 0
}

.stats-module dt {
	float:left;
    margin:0 10px 0 0;
    font-weight: bold;
}

.stats-module dt,
.stats-module dd {
	padding:2px 0 2px 0
}



/* Syndicate */

a.feed-link {
	margin-top:15px;
	display:block;
	text-decoration:none
}

.feed-link img {
	border:0
}





/** Footer **/

#footer {
	clear: both;
	width: 952px;
	margin: auto;
	margin-top: 20px;
	padding-top: 6px;
	font-size: 0.86em;
	color: rgb(170,170,170); 
}

#footer div.custom hr {
	border: 0;
	color: rgb(226,226,226);
	background-color: rgb(226,226,226);
	height: 1px
}

#copyright {
	padding : 7px 0 7px 0px;
    margin : 0 auto 15px auto;
    width:1000px;
    background-color : rgb(51,102,153);
    color :white;
    text-align : center;
    font-size : 0.9em;
}

#copyright a {
	color: white;
	text-decoration: none;
}

#copyright a:hover {
	text-decoration:underline;
}

#copyright img {
	border-style: none;	
}

#copyright div.cp2 {
	text-align: left;
}





/** Editor **/

#adminForm.form-validate fieldset {
	border: solid 1px #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 8px;
}

#adminForm legend {
	font-weight: bold;
}

.edit.item-page {
	max-width: 660px;
}

#adminForm.form-validate fieldset div.formelm {
	padding-bottom: 10px;
	display: block;
}

#adminForm.form-validate fieldset div.formelm label,
#adminForm.form-validate fieldset div.formelm input {
	display: inline-block;
}

#adminForm.form-validate fieldset div.formelm label {
	width: 120px;
}

#adminForm.form-validate fieldset div.formelm-area label,
#adminForm.form-validate fieldset div.formelm-area input {
	display: inline-block;
}

#adminForm.form-validate fieldset div.formelm-area label {
	width: 120px;
	vertical-align: top;
}

#adminForm.form-validate fieldset div.formelm-buttons {
	margin-top: -32px;
	padding-bottom: 10px;
	height: 20px;
	float: right;
}

#jform_articletext_tbl.mceLayout {
	clear: both;
}




/** Mailto Window **/

#mailto-window {
	padding: 50px;
	width: 300px;
}

#mailto-window h2 {
	padding-bottom: 10px
}

#mailto-window p {
	clear: left;
	padding-top: 20px
}

#mailto-window label {
	padding: 0px;
}

#mailto-window input {
	margin: 4px;
}

#mailtoForm div.formelm label,
.formelm input {
	display:inline-block;
}

#mailtoForm div.formelm label {
	width: 80px;
}

#mailtoForm div.formelm input {
	width: 200px;
}

#mailto-window div.mailto-close a {
	display: none;
}

body.contentpane {
	background-color: #fff;
}



/** Print Window **/

#main div.item-page {
	margin: 10px;
}

#main div.item-page ul.actions li {
	float: right;
}

body.contentpane {
	color: #000;
}







/* LOIC */


#rightmenu ul.lang-inline li,
#leftmenu ul.lang-inline li
{
 border : 0;
  margin-top : 2px;
  margin-bottom:2px;
}

.googlecalendar {
   font-size : 95%;
}

.gc_up_mod_day {
margin-top : 4px;
}

#copyright ul.menu {
margin:0;
padding:0;
text-align:center;
list-style-type : none;
}
#copyright .menu li {
display : inline;
}

#copyright .menu li:before {
content : " - ";
}

#copyright .menu li:first-child:before{
content : " ";
}

/* --------------------- */
a.fisheyeItem2 
{
	text-align: center;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	
	position: absolute;
	display: block;
	bottom: 0;
}
.fisheyeItem2 img
{
	border: none;
	margin: 5px auto 0 auto;
	width: 100%;
}
.fisheyeItem2 span
{
	display: none;
}
.fisheyeContainer
{
	background-color: transparent;
	height: 50px;
	width: 300px;
	left: 500px;
	position: absolute;
	font-size:90%;
}
#partenaires
{
	width: 100%;	
	text-align:center;
	height:55px;
	padding-bottom:5px;
}


/*
     FILE ARCHIVED ON 02:08:24 Feb 09, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:04:27 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1841.451
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.072
  cdx.remote: 0.052
  esindex: 0.007
  LoadShardBlock: 1822.383 (3)
  PetaboxLoader3.datanode: 183.155 (5)
  PetaboxLoader3.resolve: 2744.695 (3)
  load_resource: 1476.056 (2)
*/