<H1>DEROULEMENT DE L'ANNEE</H1>
L'ann&eacute;e est partag&eacute;e entre des enseignements, des interventions d'industriels sur 
des th&egrave;mes sp&eacute;cifiques, des s&eacute;minaires et un stage orient&eacute; Recherche et 
D&eacute;veloppement dans une entreprise ou dans un laboratoire. Le stage d'une dur&eacute;e 
de huit &agrave; dix mois est effectu&eacute; dans le cadre d'un partenariat recherche.
Les enseignements (150 heures) se d&eacute;roulent au premier trimestre de l'ann&eacute;e 
universitaire et le stage est soutenu au mois de Septembre. Les cours propos&eacute;s aux
&eacute;tudiants sont compos&eacute;s  :
<P>- de pr&eacute;sentations refl&eacute;tant les points de vue industriels sur la recherche, le 
d&eacute;veloppement ou les &eacute;volutions en cours dans certaines disciplines et effectu&eacute;es 
par des sp&eacute;cialistes provenant du monde des entreprises ou d'organismes de 
recherche,
<P>	- d'enseignements de sp&eacute;cialisation dispens&eacute;s par des enseignants-chercheurs
 clermontois ou des invit&eacute;s,
<P>	- de s&eacute;minaires organis&eacute;s par les laboratoires de recherche.

<P>
<P>
<H1>MODALITES D'ACCES ET CONTROLE</H1>
Le Dipl&ocirc;me de Sp&eacute;cialisation par la Recherche est attribu&eacute; par un jury aux 
&eacute;tudiants dont la note de stage est au moins &eacute;gale &agrave; 12/20 et dont la moyenne aux 
&eacute;preuves th&eacute;oriques est au moins &eacute;gale &agrave; 10/20. Le jury, pr&eacute;sid&eacute; par le Directeur de 
l'Institut, est compos&eacute; de l'ensemble des enseignants qui interviennent soit par le 
biais d'enseignements, soit par le biais d'encadrement de projets et des ing&eacute;nieurs 
de l'entreprise responsables du stage.
