<H1>INFORMATIONS PRATIQUES SUR LE DSR</H1>

<P>Responsable du dipl&ocirc;me :	Prof. M. GOURGAND 
<P>T&eacute;l&eacute;phone : 04	73 40 75 14
<P>email : 	michel.gourgand@isima.fr
<P>Secr&eacute;tariat  
<P>T&eacute;l&eacute;phone : 04 73 40 50 00
<P>T&eacute;l&eacute;copie : 04	73 40 50 01

<P><H3>Acc&egrave;s au dipl&ocirc;me :</H3>
Les candidats doivent &ecirc;tre titulaires d'un dipl&ocirc;me d'ing&eacute;nieur ou d'un DEA en Informatique ou dans une discipline connexe (Electronique, Math&eacute;matiques Appliqu&eacute;es)

<P><H3>Admission des candidats :</H3>
Les dossiers de candidature peuvent &ecirc;tre obtenus aupr&egrave;s 
du secr&eacute;tariat de l'ISIMA. 
<P>Date limite de d&eacute;p&ocirc;t des dossiers : <H2>30 Juin 1997</H2>
<P>Cl&ocirc;ture des inscriptions : 	<H2>15 Juillet 1997</H2>
<P>La s&eacute;lection s'effectue en deux &eacute;tapes : examen du dossier d'admission et entretien 
individuel de s&eacute;lection.
Le jury d'admission d&eacute;lib&egrave;re sur les candidatures et prononce les admissions, dans la limite de seize participants.

<P>Frais d'inscription :  2800 F (1000 F pour les boursiers)

<P><H3>Exemples de projets de recherche : </H3>
<P>CNET : 	Configuration de r&eacute;seaux t&eacute;l&eacute;phoniques
<P>COSAC : 	R&eacute;ing&eacute;nierie d'un syst&egrave;me d'information
<P>EDF: 	Probl&egrave;mes d'ordonnancement
<P>NSE:         Mise en place d'une architecture client/serveur	
<P>IBM: 	Probl&egrave;mes de tourn&eacute;e et de transport
<P>MICHELIN :	Simulation d'ateliers, Aide &agrave; la conception de structures composites
<P>VALEO : 	Mod&eacute;lisation de syst&egrave;mes de production
