<title>
Mirror of the AP Page
</title>
<center>
<font size="+5">J</font><font size="+4">apanophile </font>
<font size="+5">H</font><font size="+4">ome </font>
<font size="+5">P</font><font size="+4">age</font>
</center></p>
This page is a French Mirror of the very complete home
page <a href="http://www.sas.upenn.edu/~stevenso/japan.html"> from Reed & Julian</a>.
</p> 

<hr size=10>
<font size="+2"><strong>The <a 
href="news://netnews.upenn.edu/clari.world.asia.japan">latest 
news</a> from Japan.</strong></font>
<hr size=10>

<font size="+3">What's Up</font>
<ul>
Sorry for the delay in bringing you the latest and the best -this page is 
slated to rebase in Tokyo at a new address.  Keep your link, though:  we 
are still here at Penn.
 </ul>


<font size="+3">Government</font>
<ul>
<li>Japanese <a
href="http://jw.stanford.edu/GOV/CONSULATE/consulate.html">Consulates and
Embassies</a>
<li>The <a href="http://www.keidanren.or.jp/">Keidanren</a>.
<li>Like the government, this page always seems to be new:  <a 
href="http://www.kantei.go.jp/">The Prime Minister's Residence</a>.
<li>The Ministry of foreign Affairs:  <a 
href="http://www.nttls.co.jp/infomofa/">M.O.F.A.</a><br>
<li><a href="http://www.city.yokohama.jp/welcome-e.html">Yokohama</a>
Home Page
<li>The <a href="http://www.io.com/user/nishio/japan/yakuza.html">Yakuza
</a>Home Page.
</ul>
<font size="+3">Culture</font>
<ul>
<li><strong>SUMO:</strong>
<ul>
<li>The Stanford <a
href="http://akebono.stanford.edu/users/jerry/sumo/">Sumo Page</a>
<li><a href="http://www.hal.com/users/nathan/Sumo/">Nathan's Sumo Page</a>
<li><a href="http://www.sfc.keio.ac.jp/~s93073no/sumo.html">Noriko's Sumo 
Page</a>
<li><a href="http://www.fujiint.co.uk/Sumo/sumo.html">FIP and Fuji TV's Sumo
Page</a>
</ul>
<li>The <a 
href="http://www.fix.co.jp/kabuki/kabuki.html">Kabuki</a> Page.
<li>Japanese <a
href="http://www.io.com/user/nishio/japan/figure.html">Legends</a>
<li>The <a
href="http://www.ces.kyutech.ac.jp/student/JapanEdge/e-index.html">Edge 
Culture</a> of Japan.
<li><a href="http://www.twics.com/~ronan/home.html">YAKISOBA</a>, anyone?
<li>The official <a href="http://www.okinawa.ttc.co.jp/">Okinawa</a> Page


<li>Don't let this page fool you -it does have a list of some hot clubs in
Tokyo:  <a
href="http://shrine.cyber.ad.jp/~darrell/outr/home/outr-home.html">Outrageous
Tokyo.</a>
<li><a href="http://www.paranoia.com/faq/prostitution/">Prostitution</a>
in Japan and the rest of the world. 
<li>The <a href="http://www.best.com/~asixinc/a6.html">Alternative Japan 
Page</a>
<li><a href="http://www.dentsu.co.jp/J-LEAGUE/">J-League</a>
<li>Hideo Nomo has a page:  The<a
href="http://www.st.rim.or.jp/~k_ono/tornado/">Tornado Boy</a> Page
</ul>


<font size="+3">Music</font>
<ul>
<li>Reggae in Japan? Michio Ogata's <a 
href="http://wsogata.cc.u-tokai.ac.jp/">Natty Dread Server</a>.
<li>The <a 
href="http://atom.co.jp/INDIES/index.html">Japan Independent 
Music Archive</a>.
<li>The <a
href="http://www.st.rim.or.jp/~kino1989/JapanHM/japhm01.html">Japanese
Heavy Metal</a> Page.

</ul>


<font size="+3">Resource Pages on Japan</font>
<ul>
<li>Today's <a
href="gopher://una.hh.lib.umich.edu/00/ebb/monetary/noonfx.frb">exchange
rate</a>.
<li>Great resource for <a
href="http://www.panix.com/~tn/japan.html">links in Japan</a>

<li><a href="http://www.nyp.com/">Nihongo Yellow Pages</a>:  the business
directory for businesses in Japan in English and Japanese
<li>The <a href="http://www.iac.co.jp/accjhome.html">ACCJ</a>:  American
Chamber of Commerce in Japan.
<li><a href="http://www.eccosys.com/CHIKA/index.html">Tokyo Subway Map</a>

<li><a href="http://www.toppan.com/">CYBER Publishing Japan</a>
<li>Akio Morita & Ishihara Shintaro's <a 
href="gopher://hoshi.cic.sfu.ca/1m/dlam/business/japan">The Japan That 
Can Say No</a>. 
<li><a href="http://www.jcic.or.jp/">JCIC</a>:  Japan Center for 
Intercultural Communications.
<li><a href="http://www.ntt.jp">NTT</a> The Nippon Telegraph and Telephone
Company Page. 
<li><a href="http://www.kddlabs.co.jp/japan/narita/">Narita Airport</a>
<li><a href="http://www.u-tokyo.ac.jp/">TODAI</a>(Tokyo University)
<li>Stanford's <a
href="http://fuji.stanford.edu/japan_information/japan_information_guide.
html">X-Guide</a>
<li><a href="http://iris.asij.ac.jp">ASIJ</a>:  The American School in Japan
<li><a
href="http://www.culturewave.com/culturewave/jrp/jrp.html">Culturewave</a>
Resource Page. 
<li>Stanford's <a href="http://fuji.stanford.edu/index.html">U.S.-Japan 
Technology Management Center</a>.
<li>The <a href="http://pclsp2.kuicr.kyoto-u.ac.jp/">Kansai Page</a>, 
and the <a 
href="http://www.senri-i.or.jp/kansai/index/news/bird.html">Kansai 
International Airport</a>.
<li><a href="http://sunsite.sut.ac.jp/asia/japan/jpics.html">Photos</a> 
from Japan.
<li><a 
href="gopher://umslvma.umsl.edu/11/library/govdocs/armyahbs/armantoc">U.S
. Army Handbook on Japan</a>.
<li>University of Arizona's <a 
href="http://www.cs.arizona.edu/japan/www/japan.html">Japan Page</a>.
<li><a href="http://jw.stanford.edu">Japan Window</a>.
<li><a href="http://sggrwv.arlut.utexas.edu/JAPAN/japanIndex.html">Japan 
Journey Pics</a>
<li><a href="http://mtlab.ecn.fpu.ac.jp/Default.html">Tanaka Motoyuki</a>
<li><a href="http://www.mit.edu:8001/people/cdemello/jp.html">Japanese 
Universities</a>
<li><a href="http://future.sri.com/vals/jvals.html">Japan Val</a>:
Japanese consumer behavior.
<li>The <a href="http://www.infojapan.com/">Info
Japan</a> Page

</ul>

<font size="+3">Entertainment</font>
<ul>
<li>Hot Clubs in Tokyo via the <a 
href="http://shrine.cyber.ad.jp/~darrell/outr/home/outr-home.html">Outrageous Tokyo</a> Page. 
<li><a
href="http://www.its.newnham.utas.edu.au/bonsai/jpop/profiles/jpopbiog.ht
ml">Idols</a>
<li><a href="http://www.bekkoame.or.jp/~adolf/">Tokyo Topless</a>
<li>Juicy pages and the men who make them:  <a
href="http://www.bekkoame.or.jp/~yukio-m/">Yukio Miyamoto</a>'s Page
(needs Japanese browser) and <a
href="http://www.bekkoame.or.jp/~hosokawa/">Yukio Hosokawa</a>'s Page.
<li>The <a href="http://www.infojapan.com/JWAVE/">J-WAVE</a> FM Radio 
Station Page
<li><a
href="http://www.csl.sony.co.jp/M/display-with-country?Japan">Movies 
Filmed in Japan</a>.
<li>Takeshi's <a
href="http://www.st.rim.or.jp:80/~takechi/">Horse Racing<a/> Page
<li><a href="http://www.st.rim.or.jp/~koike/">Virtual Bird Viewing</a> in
Tokyo.
<li>The <a
href="http://www.jtnet.ad.jp/WWW/MILDSEVEN/F1/Welcome.html">Mild Seven F1
Team</a> Page.
<li>The <a href="http://www.twics.com/~robbs/tokyofood.html">Tokyo
Food</a> Page.

</ul>

<font size="+3">Companies in Japan</font>
<ul>
<li><a href="http://www.spin.ad.jp/jal/index.html">JAL</a> (Japanese)
<li>Sony's Home Page -the new and improved <a 
href="http://www.sony.co.jp/">Sony Drive</a> Page.
<li><a href="http://www.iijnet.or.jp/apple/">Apple Japan</a>
<li><a href="http://www.toppan.com/shiseido/">Shiseido</a>
<li><a href="http://www.mei.co.jp/">Matsushita/Panasonic</a> Page
<li><strong>Publications and Publishers:</strong>
<ul>
<li><a href="http://www.toppan.co.jp/bookshop/">Shogakukan</a> Bookshop.
<li>The <a href="http://shrine.cyber.ad.jp/~marketom/home.html">Japan
Times</a>(Weekly) newspaper.
<li><a href="http://www.toppan.co.jp/bookshop/post/post.html">Shukan Post</a>
</ul>
<li>The <a href="http://www.twics.com/~EDSCHECK/kaisha.html">Kaisha
Society</a>.
<li><a href="http://www.recruit.co.jp/index.html">Recruit Co., Ltd.</a>
<li><a href="http://www.fujibank.co.jp/eng/fb/home.html">Fuji Bank</a>

</ul>

<hr>
Return to <a href="index.html">Reed's</a> or <a 
href="http://futures.wharton.upenn.edu/~bashor67">Julian's</a> Home 
Page.  For suggestions and retaliations,
<a href="mailto:stevenso@mail.sas.upenn.edu">contact Reed</a>.
<hr> Brought to you by J. Bashore and R. Stevenson.</l>
<address>This page is maintained by stevenso@sas.upenn.edu</address>

