<htlm>
<head>
<title>Scenario: Trabucco</title>
</head>
<body>
<body background="sfondoal.jpg">
<center>
<h1>Scenario: Trabucco</h1>
<h2>Hypothetical Flooding affecting different areas in the Alexandra Downtown</h2>
<H3><A HREF="report_b.rp1">Report: Urban Streets in the Risk Area</A></H3>
<H3><A HREF="report_b.rp2">Report: Industries in the Risk Area</A></H3>
<H3><A HREF="report_b.rp3">Report: Roads & Highways in the Risk Area</A></H3>
<H3><A HREF="report_b.rp4">Report: Rivers in the Risk Area</A></H3>
<H3><A HREF="report_b.rp5">Report: Other Objects in the Risk Area</A></H3>
<HR>
<H3><A HREF="report_b.rp6">Report: People in the Risk Area</A></H3>
<H3><A HREF="report_b.rp7">Report: People with Physical Impairments in the Risk Area</A></H3>
<HR>
<H3><A HREF="emer_b.html">Maps & Graphics</A></H3>
<A HREF="cipros_r.html"><IMG SRC="cip_on_m.gif" align="left"><h4>Cipros Reports On Line Main Menu</h4></A>
</body>
</htlm>

