
<!--
/* Details generaux du corps */
body
{
  text-align: center;
}
/* Proprietes du bandeau de referencement */
div.bandeauReferencement
{
  position   : absolute ;
  left       : 0%       ;
  top        : 0%       ;
  width      : 100%     ;
  height     : 12%      ;
  font-size  : 4pt      ;
  color      : white    ;
  z-index    : 0        ;
}

/* Proprietes de la page centrale */
div.pageCentrale
{
  position     : absolute ;
  left         : 0px      ;
  top          : 16%      ;
  background   : white    ;   
  width        : 100%     ;
  height       : 78%      ;
padding:0;
}

/* Proprietes des images-photos */
div.images
{
  position   : absolute ; 
  top        : 0%       ;
  left       : 35%      ;
  width      : 380px    ;  
  height     : 431px    ;
  background-image  : url(../../photos/imagesdegrade768.jpg);
  background-repeat : no-repeat ;
}
/* Proprietes de la partie gauche */
div.frameGauche
{
  position   : absolute ; 
  top        : 20px     ;
  left       : 10px     ;
  width      : 260px    ;
  height     : 70%      ;
  text-align : center   ;
  padding    : 0px      ;
}
/* Proprietes du slogan */
div.presentation
{
  margin-left  : auto  ;
  margin-right : auto  ;
  width        : 270px ;
  height       : 150px ;
  border       : 2px solid #336699 ;
}


/* Proprietes du slogan */
img.pres1
{
  position : absolute ; 
  top      : 10px     ;
  left     : 7px      ;
}
img.pres2
{
  position   : absolute ; 
  top        : 100px    ;
  left       : 40px     ;
}
img.plus
{
  position : absolute ; 
  top      : 76.3%    ;
  left     : 82.1%    ;
}
img
{
border: none ;
}
/* Declaration et proprietes des liens */
a.present
{   position   : absolute ;  top : 8%   ;  left : 78%   ; 
    background-image:url(../../images/btn_pres.gif) ;
	width:116px;
	height:19px;
}
a:hover.present { background-position: -116px;}
a:active.present { background-position: -116px;}
a.enseignement
{   position   : absolute ;  top : 17%   ;  left : 80%   ; 
    background-image:url(../../images/btn_ens.gif) ;
	width:116px;
	height:21px;
}
a:hover.enseignement { background-position: -116px;}
a:active.enseignement { background-position: -116px;}

a.admission
{   position   : absolute ;  top : 27%   ;  left : 81%   ;
    background-image:url(../../images/btn_admi.gif);
	width : 89px;
	height:21px;
 }
a:hover.admission { background-position: -89px;}
a:active.admission { background-position: -89px;}

a.recherche
{   position   : absolute ;  top : 38%   ;  left : 82%   ;
	 background-image:url(../../images/btn_rech.gif);
	width:93px;
	height:21px;
	}
a:hover.recherche{ background-position: -93px;}
a:active.recherche { background-position: -93x;}

a.entreprise
{   position   : absolute ;  top : 49%   ;  left : 82% ;
	 background-image:url(../../images/btn_ent.gif);
	width:97px;
	height:19px;
}
a:hover.entreprise { background-position: -97px;}
a:active.entreprise { background-position: -97px;}
a.international
{   position   : absolute ;  top : 60%   ;  left : 81%   ;
	 background-image:url(../../images/btn_inter.gif);
	width:102px;
	height:21px;
}
a:hover.international{ background-position: -102px;}
a:active.international { background-position: -102px;}
a.etudiant
{    position   : absolute ;  top : 71%   ;  left : 80%   ;
	 background-image:url(../../images/btn_vie.gif);
	 width:107px;
	 height:21px;
}
a:hover.etudiant { background-position: -107px;}
a:active.etudiant { background-position: -107px;}
a.annuaire
{   position   : absolute ;  top : 82%   ;  left : 78%   ;
    background-image:url(../../images/btn_annu.gif);
 	width:95px;
	height:21px;
 }
 a:hover.annuaire{ background-position: -94px;}
a:active.annuaire{ background-position: -94px;}
a.contacts
{   position   : absolute ;  top : 87% ;  left : 92.5% ; 
	 background-image:url(../../images/btn_cont.gif);
	width:65px;
	height:19px;
}
a:hover.contacts { background-position: -65px;}
a:active.contacts { background-position: -65px;}
a.plan
{   position   : absolute ;  top : 94.2% ;  left : 91% ;
	background-image: url(../../images/btn_plan.gif);
	width:78px;
	height :18px ;
 }
a:hover.plan{ background-position: -78px;}
a:active.plan { background-position: -78px;}

a.bp
{   position   : absolute ;  top : 82%   ;  left : 9%    ; 
	background-image: url(../../images/bp.gif);
    width : 122px;
	height: 72px;}
a:hover.bp{ background-position: -122px;}
a:active.bp { background-position: -122px;}

a.anglais
{   position   : absolute ;  top : 15%   ;  left : 95%   ; }
img.transparent{ width:0px;height:0px;}
-->


