
<!--


/* Modification ou rajout de proprietes
   aux elements definis dans CSS_Index_768.css */
 


div.pageCentrale
{
  top    : 12% ;
  height : 80% ;
}

div.images
{
  top        : 5%       ;
  left       : 40%      ;
  width      : 284px    ;  
  height     : 307px    ;
  background-image : url(../../photos/imagesdegrade600.jpg);
  background-repeat: no-repeat ;
}

div.frameGauche
{
  top : 15px ;
}


img.plus
{
  top   : 72.7% ;
  left  : 79.9% ;
  width : 150px ;
}


a.contacts
{   position   : absolute ;  top : 89%  ;  left : 91%   ; }
a.plan
{   position   : absolute ;  top : 94%  ;  left : 88.5% ; }
a.bp
{   position   : absolute ;  top : -15% ;  left : 91%   ; z-index : 0 ; }
a.anglais
{   position   : absolute ;  top : 15%  ;  left : 93%   ; }


a.bp
{   position   : absolute ;  top :-500px   ;
	width : 0px;
	height: 0px;
}



-->


