a.fisheyeItem2 
{
	text-align: center;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	
	position: absolute;
	display: block;
	bottom: 0;
}
.fisheyeItem2 img
{
	border: none;
	margin: 5px auto 0 auto;
	width: 100%;
}
.fisheyeItem2 span
{
	display: none;
}
.fisheyeContainer
{
	background-color: transparent;
	height: 50px;
	width: 300px;
	left: 500px;
	position: absolute;
	font-size:90%;
}
#partenaires
{
	width: 100%;	
	position:relative;
	text-align:center;
	height:55px;
	padding-bottom:5px;
}