*{
   margin    : 0;
   padding   : 0;
   font-size : 1em;
   font-family : arial, verdana, trebuchet, "lucida console", sans-serif;
}

html {
   /* vive ie et ses bugs */
   font-size : 100%;
}

body {
   font-size   : 16px;
   background  : lightgray url(../images/fond.jpg) repeat scroll 0 0; 
}

img {
   border:0;
}

a {
   text-decoration : none;
}

blockquote, ul, ol {
	margin-left : 2em;
}

#ZZheader {
    margin : 40px auto 0px auto;
    width:1000px;
    height:140px;
    background-color : rgb(51,102,153);
}


#ZZpage {
    background-color : rgb(51,102,153);
    margin : 0 auto;
    width:1000px;    
}

#ZZwrapper {
   width : 996px;
   margin-right:2px;
   margin-left :2px;
   background-color:white;
}

#ZZcontent {
   float : right;
   width : 767px;
   padding : 20px 15px;
   
}

#ZZcontent a:hover {
   text-decoration : underline;
}

#ZZsidebar {
   padding-top : 10px;
   float : left;
   width : 197px;
   font-size:0.9em;
}

ul.navigation {
   list-style : none;
   margin-left : 15px;
}

ul.navigation a, ul.navigation a:visited {
   color : black;
}

ul.navigation li  {
   border-bottom  : thin solid black;
   padding-top    : 2px;
   padding-bottom : 2px;
}

ul.navigation > li   > a{
   padding-left   : 20px;
   background: url(../images/tree-plus.gif) no-repeat top left;
}

ul.navigation > li.open > a{
   background: url(../images/tree-minus.gif) no-repeat top left;
}


.navigation ul {
   list-style  : none;
   margin-left : 10px;
   font-size   : 90%;
   background:none;
}

.navigation ul li {
   border-bottom    : none;
   padding-top      : 1px;
   padding-bottom   : 1px;
   padding-left     : 18px;
   background:none;
}

#ZZfooter{
   padding : 7px 0 7px 0px;
   margin : 0 auto 15px auto;
   width:1000px;
   background-color : rgb(51,102,153);
   color :white;
   text-align : center;
   font-size : 0.9em;
}
#ZZfooter a {
   color : white;
   text-decoration : none;
}

#ZZfooter a:hover {
   text-decoration : underline;
}

h1 {
   color          : black;
   font-size      : 120%;
   border-bottom  : black solid 2px;
   margin-bottom  : 25px;
   margin-top     : 20px;
   font-variant : small-caps;
}

h2 {
   font-size : 105%;
   border-bottom : black solid 1px;
   margin-bottom:10px;
   padding-left:22px;
   margin-top:15px;
   background: url(../images/puce.png) no-repeat top left;
}

h3 {
   margin-bottom:10px;
   margin-top:15px;
}

p {
   padding : 6px 10px 4px 10px;
   text-align:justify;
} 

#ZZcontent ul  {
   padding-left : 20px;
}

#ZZcontent li  {
   text-align : justify;
}

.ligne1 {
	background-color : #FFFF99;
}

.ligne2 {
	background-color : #FFFFCC;
}

tr.ligne1 td, tr.ligne2 td {
    padding:4px 0 4px 1em;
}
.zoom {
	background-color:#FFCCCC;
	margin-top : 10px;
	padding:10px 20px 20px 20px;
	width:90%;
}