/* added by M4Z3-> */
header #title {
	position: relative;
	float: none;
	left: 2%;
	padding-top: 50px;
}

@media screen and (max-width: 1200px) {
	header #title h1 {
		font-size: 1.7em;
	}
	.container #featured {
		width: 100%;
	}
	.container #main-boxes {
	  	border-spacing: 15px 0;
	}
	footer h3 {
		margin-top: 0;
	}
	footer #social {
		margin-top: 0;
	}
	footer .twitter, footer .fb, footer .google {
		margin-top: 5px;
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	/* added by M4Z3-> */
	header #title {
		padding-top: 45px;
	}
	header  #languages li {
		display: block;
	}
	header ul.menu > li {
		padding: 10px 0 10px 5px;
	}
}

@media (max-width: 980px) {
	body h2 {
		font-size: 32px;
	}
	header #logo {
		padding: 15px 0;
	}
	header #title {
		bottom: 12px;
	}
	header #title h1 {
		line-height: 23px;
	}
	header  #languages li {
		display: block;
	}
	nav ul.menu {
		height: 32px;
	}
	nav ul.menu > li {
		padding: 7px 0
	}
	nav ul.menu > li > a {
		line-height: 32px;
		font-size: 11px;
		background-position: right center;
		padding: 9px 20px 9px 5px;
	}
	nav ul.menu > li > .sub-menu > li > a {
		font-size: 13px;
	}
	nav .sub-menu {
		font-size: 12px;
	}
	.container section {
		width: 100%;
	}
	.container .col-left {
		width: 664px;
	}
  /*
  hacked by M4Z3->
	.container .col-right {
		display: none;
	}
  */
	.container #featured {
		margin: 30px auto 30px;
	}
	.container .mobile {
		display: none !important;
	}
	.container #featured .ui-tabs-nav li img {
		display: none;
	}
	.container #featured .info a {
		font-size: 0.8em;
	}
	.container #featured .ui-tabs-nav > a {
		border: 0;
	}
	.container .ui-tabs-nav-item p {
		width: auto;
		margin: auto;
		padding: 0 5px;
		text-align: left;
	}
	.container #featured li.ui-tabs-active{
		background:url('/web/20221130161549im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/selected-item.gif')  left no-repeat;
		background-position: 0 -5px;
	}
	.container #main-boxes {
	}
	.container #main-boxes .box {
		padding: 0;
	}
	.container #main-boxes .box h3 {
		margin: 20px 20px 5px;
		font-size: 22px;
	}
	.container #main-boxes .box p {
		margin: 0 20px 20px;
		font-size: 12px;
	}
	.container #main-boxes .box:last-child {
		display: block;
		padding: 20px;
    	margin: 15px auto 0;
	}
	.container #main-boxes .box:last-child h3 {
		margin: 0;
	}
	.container #main-boxes .box:last-child p {
		margin: 20px 0 0 0;
	}
	.container .wpcf7-form {
		width: 80%;
	}
  /** add by M4Z3-> **/
  .span4 {
    width: 100%;
  }

	footer {
		font-size: 12px;
	}
	footer .wysija-submit {
		margin-top: -10px;
	}
	footer #newsletter > p {
		margin-top: 10px;
	}
	footer #social img {
		margin-bottom: 5px;
	}
}


@media (max-width: 767px) {
	.container h2 {
		font-size: 30px;
	}
	header {
		margin-left:-20px;
		margin-right:-20px;
	}
	nav, footer{
		margin-left:-20px;
		margin-right:-20px;
		padding-left:20px;
		padding-right:20px;
	}
	header #logo {
		width: 40%;
		margin: 0 auto;
	}
	header #title {
		display: none;
	}
	header #languages {
		float: none;
		text-align: center;
		width: auto;
	}
	header #languages li {
		display: inline;
	}
	nav .toggleMenu {
		font-size: 20px;
		font-weight: bold;
		width: 100%;
		padding: 10px;
		color: #FFF;
	}
	nav .toggleMenu {
		background-image: url("/web/20221130161549im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/menu-down.png");
		background-repeat: no-repeat;
		background-position: 98% 13px;
		padding: 12px 20px 12px 0;
		box-shadow: none;
	}
	nav .active {
		background-image: url("/web/20221130161549im_/https://www.isima.fr/wp-content/themes/ISITHEME/img/menu-up.png");
		background-position: 98% 11px;
		box-shadow: none;
	}
	nav ul.menu {
		width:100%;
		height: auto;
	}
	nav ul.menu > li > a {
		padding: 5px 10px;
		border-top: 1px solid #2d343e;
		font-size: 13px;
		font-weight: bold;
	}
    nav ul.menu > li > .hover {
        left: 0 !important;
        display: block !important;
        position: relative;
        visibility: visible;
        background: #F2F2F2;
    }
    nav ul.menu > li > .hover li {
    	display: block;
    }
    nav ul.menu > li > .sub-menu > .menu-item-has-children > a {
    	font-size: 15px;
    }
    nav ul.menu > li > .hover a {
    	padding: 10px 0;
    	font-weight: bold;
    	color: #0088cc;
    }
    .container #titreActualites {
    	display: inherit;
    }
    .container #featured .mobile {
    	display: inherit !important;
    }
    .container .anchor {
    	display: none !important;
    }
    .container #featured {
		margin: 15px auto 15px;
    }
    .container #featured .ui-tabs-nav > #actualites {
		padding: 5px 0;
	}
    .container #featured .ui-tabs-panel {
		display: none !important;
	}
	.container #featured .ui-tabs-nav {
		position: relative;
		width: 100%;
	}
	.container .ui-tabs-nav-item img {
		height: auto;
		width: 30%;
	}
	.container #featured .ui-tabs-nav li img {
		display: inline-block;
	}
	.container .ui-tabs-nav-item p {
		width: 59%;
	}
	.container #featured li.ui-tabs-active {
		background: #FFFFFF;
	}
	.container #featured .ui-tabs-nav li {
		padding-left: 0;
	}
	#featured .ui-tabs-nav-item a {
		padding: 10px 5px;
	}
	#featured ul.ui-tabs-nav li.ui-tabs-active a {
		background: #FFFFFF;
	}
	.container #featured ul.ui-tabs-nav li.ui-tabs-active a:hover {
		background: #F2F2F2 !important;
	}
  /** add by M4Z3-> **/
  .span4 {
    width: 100%;
  }

	#actualites a {
		display: block;
		width: 100%;
	}
	#featured .valign {
		display: none;
	}
	.container #main-boxes {
		border-spacing: 0 15px;
	}
	.container #main-boxes .box {
		display: table-row;
	}
	.container #main-boxes .box:last-child {
		display: table-row;
		width: 100%;
		padding: 0;
	}
	.container #main-boxes .box:last-child h3 {
		margin: 20px 20px 5px;
	}
	.container #main-boxes .box:last-child p {
		margin: 20px 20px 5px;
	}
	.container .title {
		margin-left: 0;
	}
	.container .breadcrumb {
		display: none;
	}
	.container .col-left {
		width: auto;
	}
	.container .wp-caption-text {
		visibility: hidden;
	}
	.alignright, .alignright #mapp0_layout {
		width: 100% !important;
	}
	.container .wpcf7-form {
		width: 100%;
	}
	.container .wpcf7-form input[type="text"],
	.container .wpcf7-form input[type="email"],
	.container .wpcf7-form input[type="tel"]  {
		width: 90%;
	}
	.container .wpcf7-form textarea {
		width: 90%;
	}
	footer {
		padding: 20px !important;
	}
	footer #newsletter {
		display: none;
	}
	footer #social {
		margin-bottom: 15px;
	}
	footer #liens {
		margin: 0 auto;
	}
	footer ul.menu {
		margin-left: 0;
		list-style-type: none;
	}
	footer #liens .menu li {
		font-weight: normal;
	}
	footer #liens .menu li 	a {
		font-weight: normal;
	}
	footer #liens, footer #liens p {
		text-align: center;
	}

	ul.menu > li .sub-menu {
		width:auto;
	}

	ul.menu > li {
		float:none;
		width:auto;
		border:none;
		display: block;
		padding: 0;
	}
	ul.menu > li a {
		background-position:right center;
		line-height:12px;
		padding:5px 0;
		display: block;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	input#email_newsletter, .form-search input  {
		margin-bottom:5px;
	}
	footer #social img {
		width: 30%;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    nav > li {
        float: none;
    }
    nav > li > .parent {
        background-position: 95% 50%;
    }
    nav li li {
        background-image: url("/web/20221130161549im_/https://www.isima.fr/wp-content/themes/ISITHEME/css/images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    nav ul {
        display: block;
        width: 100%;
    }

}

/*
     FILE ARCHIVED ON 16:15:49 Nov 30, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:20:05 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2378.142
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.062
  cdx.remote: 0.054
  esindex: 0.007
  LoadShardBlock: 2353.735 (3)
  PetaboxLoader3.resolve: 2998.473 (4)
  PetaboxLoader3.datanode: 165.604 (4)
  load_resource: 865.175
*/