<HEAD>
<TITLE>Footnotes</TITLE>
</HEAD>
<BODY><P>
<DL> <A NAME=65><DT>...Coordination <DD>
Effort sponsored by the Defense Advanced Research Projects Agency (DARPA) and
Rome Laboratory, Air Force Materiel Command, USAF, under agreement number
F30602-97-1-0249. The U.S. Government is authorized to reproduce and
distribute reprints for Governmental purposes notwithstanding any copyright
annotation thereon.<BR><b>Disclaimer</b>:
The views and conclusions contained herein are those of the authors
and should not be interpreted as necessarily representing the official policies
or endorsements, either expressed or implied, of the Defense Advanced Research
Projects Agency (DARPA), Rome Laboratory or the U.S. Government.
</A>
<PRE><P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
</PRE><A NAME=15><DT>...Coordination <DD>Include a statement to the effect that the project or
effort depicted was or is sponsored by the Dept. of the Navy, Office of the
Chief of Naval Research, under Grant No. N00014-97-1-0591 and that the content
of the information does not necessarily reflect the position or the policy of
the Government, and no official endorsement should be inferred.
</A>
<PRE><P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
<P>
</PRE> </DL>
<P>
</BODY>
<P><ADDRESS>
Regis Vincent
</ADDRESS>