<body bgcolor="#2DBBE0" background="../IMAGES/orange_paper.gif">

<hr WIDTH="100%">
<center>
<p><img SRC="../IMAGES/ball.green.gif" height=12 width=12><b>&nbsp; <font
size=+2>Quelques&nbsp;<a
NAME="collaborateurs"></a>collaborateurs...&nbsp;</font></b><img
SRC="../IMAGES/ball.green.gif" height=12 width=12></center>

<p><b><a href="http://www.ens-lyon.fr/~pabry">Patrice Abry</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Laboratoire de Physique ENS Lyon</b>
<p><b><a href="http://www.isima.fr/~aussem">Alex Aussem</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LIMOS UMR 6158</b>
<p><b><a href="http://www.ens-lyon.fr/~eleveque">Emmanuel 
L&eacute;v&ecirc;que</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ENS Lyon</b>
<p><b><a href="http://www.ens-lyon.fr/~pinton">Jean-Fran&ccedil;ois 
Pinton</a> &nbsp;&nbsp;&nbsp;&nbsp; ENS Lyon</b>
<p><b><a href="http://www-ece.rice.edu/~riedi">Rudolf Riedi</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Rice University, Houston, Texas.</b>
<p><b><a href="http://www.ens-lyon.fr/~sroux">St&eacute;phane Roux</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ENS Lyon</b>
<p><b><a href="http://www.emulab.ee.mu.oz.au/~darryl">Darryl Veitch</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
EmuLab, Melbourne, Australie.</b>
<p>
<hr>
<center>
<tr>
<td ALIGN=CENTER><font face="Geneva,Arial,Helvetica,Swiss,SunSans-Regular"><font size=-2>
<a href="../index.html">Accueil</a>&nbsp;&nbsp; |&nbsp; <a
href="these.html">Th&egrave;se</a>&nbsp;&nbsp; |&nbsp; <a
href="publications.html">Publications</a> |&nbsp; <a
href="collaborateurs.html">Collaborateurs</a>&nbsp;&nbsp; |&nbsp; <a
href="exposes.html">Expos&eacute;s</a>&nbsp;&nbsp; |&nbsp; <a |&nbsp; <a
href="../index.html#liensprivilegies">Liens</a>&nbsp;&nbsp; |&nbsp; <a
href="CV.html">CV</a>&nbsp;&nbsp; |&nbsp; <a
href="../index.html#mecontacter">Contact</a>&nbsp;&nbsp;</font></font>
</td>
</tr>
</table></center>


<hr>
