<body bgcolor="#2DBBE0" background="../IMAGES/orange_paper.gif">

<p><br>
<hr>
<center>
<p><img SRC="../IMAGES/ball.green.gif" height=12 width=12><a
NAME="these"></a><b>&nbsp;<font
size=+2>Th&egrave;se&nbsp;</font></b><img SRC="../IMAGES/ball.green.gif"
height=12 width=12></center>

<p><b>Th&egrave;se au laboratoire de Physique de l'ENS Lyon sous la direction
de <a href="http://www.ens-lyon.fr/~pabry">Patrice Abry</a>, charg&eacute;
de recherche CNRS,</b>
<br>&nbsp;
<br>&nbsp;
<br>
<center>
<p><b>TITRE&nbsp; :&nbsp;&nbsp; Cascades log-infiniment divisibles et analyse
multir&eacute;solution.</b>
<p><b>Application &agrave; l'&eacute;tude de ph&eacute;nom&egrave;nes d'intermittence
en turbulence</b> <b>.</b></center>

<p><i>(soutenue le 30 novembre 2001 &agrave; l'ENS Lyon)</i>
<br>
<br>
<p>
 <p><blink><b>Pour t&eacute;l&eacute;charger le manuscrit</b> </blink>: au format <a
href="theseweb.pdf">PDF</a>, au format <a
href="theseweb.ps.gz">PostScript.gz</a>.
<hr>


<b>R&eacute;sum&eacute; :</b>
<br>
<br>
<p>Les cascades log-infiniment divisibles fournissent un cadre
g&eacute;n&eacute;ral &agrave; l'&eacute;tude de la propri&eacute;t&eacute;
d'<i>invariance d'&eacute;chelle</i>.  Nous introduisons ces objets en
d&eacute;crivant l'&eacute;volution historique des diff&eacute;rents
mod&egrave;les propos&eacute;s pour d&eacute;crire le
ph&eacute;nom&egrave;ne d'intermittence statistique en turbulence.  Nous
nous appliquons alors &agrave; pr&eacute;ciser une d&eacute;finition
formelle des cascades log-infiniment divisibles.  Nous rempla&ccedil;ons
aussi les accroissements, usuels en turbulence, par les coefficients d'une
transform&eacute;e en ondelettes associ&eacute;e &agrave; une analyse
multir&eacute;solution, outil d&eacute;di&eacute; &agrave; l'analyse
temps-&eacute;chelle.  Une r&eacute;flexion approfondie sur la
signification du formalisme nous am&egrave;ne &agrave; d&eacute;montrer sa
flexibilit&eacute; pour la mod&eacute;lisation, ainsi que sa richesse en
lien avec les cascades multiplicatives, les processus de Markov,
l'&eacute;quation de Langevin, l'&eacute;quation de
Fokker-Planck...Gr&acirc;ce &agrave; l'&eacute;tude des cascades
log-Poisson compos&eacute;es, nous proposons une vision originale du
ph&eacute;nom&egrave;ne d'intermittence statistique.  Ensuite, des
estimateurs des exposants de lois d'&eacute;chelle (&eacute;ventuellement
relatives) sont &eacute;tudi&eacute;s en insistant sur la correction du
biais et la d&eacute;termination d'intervalles de confiance.  Nous les
appliquons &agrave; des donn&eacute;es de t&eacute;l&eacute;trafic
informatique.  Nous expliquons pourquoi une proc&eacute;dure usuelle
d'estimation du spectre multifractal appliqu&eacute;e aux mouvements
lin&eacute;aires stables fractionnaires risque de mener &agrave; une
m&eacute;prise.  Enfin, le lien entre intermittence statistique et
intermittence spatio-temporelle (structures coh&eacute;rentes) en
turbulence est &eacute;tudi&eacute; &agrave; partir de l'enregistrement de
signaux de vitesse et de pression conjointement en espace et en temps dans
un &eacute;coulement turbulent.  De fortes d&eacute;pressions
associ&eacute;es &agrave; des tourbillons filamentaires sont
d&eacute;tect&eacute;es.  Une analyse statistique des coefficients
d'ondelette de la vitesse conditionn&eacute;e &agrave; ces
&eacute;v&eacute;nements nous permet de d&eacute;crire l'influence de ces
structures coh&eacute;rentes &agrave; diff&eacute;rents nombres de
Reynolds.<p> <br>

<p>
<b>Mots-cl&eacute; :</b> invariance d'&eacute;chelle, transform&eacute;e en 
ondelettes, processus stochastiques, cascades multiplicatives, 
intermittence, structures coh&eacute;rentes, distributions infiniment 
divisibles, estimation, t&eacute;l&eacute;trafic, processus 
alpha-stables.<p> <br>
<br>

<p>
<b>Abstract :</b> <br>
<br>
<p>
Log-infinitely divisible cascades provide a general framework to study the 
property of {\em scale invariance}.  We introduce these objects through a 
historical presentation of some models proposed in the past to describe 
statistical intermittency in turbulence.  We then aim at giving a precise 
and formal definition to log-infinitely divisible cascades.  Moreover, we 
choose to use the wavelet transform coefficients associated to a 
multiresolution analysis, specially dedicated to time-scale analysis, 
rather than the increments traditionally used in turbulence.  A deep 
understanding of the formalism leads us to demonstrate its versatility for 
modelling, and its relations to multiplicative cascades, Markov processes, 
Langevin equation, Fokker-Planck equation\ldots The particular case of 
log-compoung Poisson cascades provides us with new insights in the 
phenomenon of statistical intermittency.  Then, we study some estimates of 
(relative) power law scaling exponents with an emphasis on bias correction 
and confidence interval estimation.  We apply this technique to internet 
traffic data.  We explain as well why a usual procedure to estimate a 
multifractal spectrum applied to a linear fractional stable motion may 
result misleading.  Eventually, the link between statistical intermittency 
and spatio-temporal intermittency (coherent structures) is investigated in 
turbulence thanks to joint velocity/pressure measurements in a turbulent 
flow.  Strong pressure drops due to vortices called filmaents are detected. 
A statistical analysis of the wavelet coefficients of the velocity signal 
conditionned by those detected events allows us to quantify the influence 
of coherent structures on intermittency at different Reynolds numbers. <br>

<p>
<b>Key-words :</b> scale invariance, wavelet transform, stochastic 
processes, multiplicative cascades, intermittency, coherent structures, 
infinitely divisible distributions, estimation, traffic, alpha-stable
processes.
<p>
<hr>
<center>
<tr>
<td ALIGN=CENTER><font face="Geneva,Arial,Helvetica,Swiss,SunSans-Regular"><font size=-2>
<a href="../index.html">Accueil</a>&nbsp;&nbsp; |&nbsp; <a
href="these.html">Th&egrave;se</a>&nbsp;&nbsp; |&nbsp; <a
href="publications.html">Publications</a> |&nbsp; <a
href="collaborateurs.html">Collaborateurs</a>&nbsp;&nbsp; |&nbsp; <a
href="exposes.html">Expos&eacute;s</a>&nbsp;&nbsp; |&nbsp; <a |&nbsp; <a
href="../index.html#liensprivilegies">Liens</a>&nbsp;&nbsp; |&nbsp; <a
href="CV.html">CV</a>&nbsp;&nbsp; |&nbsp; <a
href="../index.html#mecontacter">Contact</a>&nbsp;&nbsp;</font></font>
</td>
</tr>
</table></center>


<hr>